<template>
  <div>
    <header>
      <div class="mobile-fix-option"></div>

      <v-topbar/>

      <div id="navbar-top-sticky" class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="main-menu">
              <div class="menu-left">


                <div class="brand-logo p-0">
                  <nuxt-link :to="{ path: '/'}">
                    <img src='https://api.steakmarketnautilus.com/assets/images/logo.png' alt="Steak Market Nautilus" class="img-fluid " style="max-width: 170px !important;" />
                  </nuxt-link>
                </div>

                <div class="pets-search">

                  <div class="searchInput" id="searchInput">
                    <form class="form_search" role="form">
                      <input                        
                        class="nav-search nav-search-field"
                        v-model="searchString"
                        @keyup="searchProduct"
                        placeholder="Encuentra lo que buscas aquí..."
                      >
                      <button type="submit" name="nav-submit-button" class="btn-search">
                        <i class="ti-search"></i>
                      </button>
                    </form>
                  </div>

                  <ul class="search-results" v-if="searchItems.length">
                    <li
                      v-for="(product,index) in searchItems"
                      :key="index" class="product-box"
                      @click="gotoProduct(product.slug)">
                      <div class="img-wrapper">
                        <img
                          v-if="product.picture"
                          :src="product.picture.url"
                          class="img-fluid bg-img"
                          :key="index"
                        />
                      </div>
                      <div class="product-detail">
                        <a href="javascript:void(0)">
                          {{ product.title }}
                        </a>
                        <button type="button"  class="btn-agregar  btn-xs float-right ">
                            <small>Agregar</small>
                        </button>
                       
                      </div>
                      
                      
                    </li>
                  </ul>
                </div>

              </div>
              <div class="menu-right pull-right">
                  <!--<v-navbar :menu="menu"/>-->
                  <v-header-widgets/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</template>

<script>

import TopBar from '../widgets/topbar'
import LeftSidebar from '../widgets/left-sidebar'
import Nav from '../widgets/navbar'
import HeaderWidgets from '../widgets/header-widgets'
import { mapActions, mapMutations, mapState } from 'vuex'

export default {

  data() {
    return {
      leftSidebarVal: false,
      menu: [],
      categoriesMenu: [],
      searchString: ''
    }
  },

  components: {
    'v-topbar': TopBar,
    'v-left-sidebar': LeftSidebar,
    'v-navbar': Nav,
    'v-header-widgets': HeaderWidgets
  },

  computed: {
   ...mapState({
      searchItems: state => state.products.search
    }),
  },

  created() {
    const vm = this;
    this.loadData();
    window.onscroll = function() {
        vm.stickySearchInput()
    };
  },

  mounted() {    
    document.addEventListener("DOMContentLoaded", function(){
      window.addEventListener('scroll', function() {
          if (window.scrollY > 50) {
            document.getElementById('navbar-top-sticky').classList.add('sticky');
            // add padding top to show content behind navbar
            navbar_height = document.querySelector('.navbar').offsetHeight;
            document.body.style.paddingTop = navbar_height + 'px';
          } else {
            document.getElementById('navbar-top-sticky').classList.remove('sticky');
            // remove padding top from body
            document.body.style.paddingTop = '0';
          } 
      });
    }); 
  },  

  methods: {

    ...mapActions({
      search: 'products/search',
      
    }),

    ...mapMutations({
      clearSearch: 'products/clearSearch',
    }),

    gotoProduct(slug){
      this.clearSearch([])
      this.$router.push('/productos/'+slug).catch(() => true)      
    },

    loadData(){
      if( this.$api.menu.data == null ) {
        let vm = this
        this.$api.menu.getMenu().then(response => {
          vm.menu = response.data.data;
          vm.$api.menu.data = response.data.data;
        });
      } else {
        this.menu = this.$api.menu.data;
      }// endif
    }, // end loadData

    left_sidebar() {
      this.leftSidebarVal = true
    },

    closeBarValFromChild(val) {
      this.leftSidebarVal = val
    },

    getImgUrl(path) {
      return require('@/assets/images/' + path)
    },

    searchProduct() {
      this.search(this.searchString)
    },

    stickySearchInput() {
        var searchInput = document.getElementById("navbar-top-sticky");
        if( searchInput ) {
          var sticky = searchInput.offsetTop;
          if (window.pageYOffset > sticky) {
            searchInput.classList.add("sticky");
          } else {
            searchInput.classList.remove("sticky");
          }
        }
    }
  }
};


</script>

<style lang="scss">

.main-menu .menu-left {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    width: 100%;
}
.main-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
}
.pets-search {
    margin: 0 auto;
    display: flex;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
.form_search {
    height: 45px;
    box-shadow: 0 0 0 1px #e2e2e2;
    overflow: hidden;
    position: relative;
    width: 500px;
    background-color: #f5f5f5;
    border-radius: 25px;
    margin: 0 auto;
    display: inline-block;
}

.search-results > li:hover{
    background: #AD4544!important;
    transition:ease all .3s;
    width:100%;
    .product-detail > a:hover{
        transition:ease all .3s;
        color:white;
    }

    .btn-agregar{
      background: #FFFFFF;
      color:#AD4544;
       font-weight:bold
    }
}

.product-detail > a {
  text-decoration:none;
  cursor:pointer;
  color:gray;
}

.btn-agregar{
  background:#AD4544;
  color:#FFFFFF;
  border-radius: 10px;
  border: #AD4544 solid 1px;
  font-weight:bold
}




.search-results {
  margin: auto;
  padding: 0;
  display: inline-block;
  text-align: center;
  width: 44.4%;
  height: 270px;
  overflow-y: visible;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  position: absolute;
  top: 80px;
  /*left: 30%;*/
  background-color: #FFFFFF;
  padding: 10px;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;

  .img-wrapper{
    max-width: 70px;
    float: left;
  }

  li.product-box {
    width: 100%; 
    padding: 10px 5px;
    cursor: pointer;
  }

  .product-detail {
    padding-top: 25px;
    padding-left: 80px;
    text-align: left;
    min-height: 30px;
  }

    &::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--theme-deafult);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.main-menu .menu-right {
  display: flex;
  float: right;
  text-align: revert;
  padding-left: 125px;
}

@media (max-width: 992px) {
  .form_search {
    width: 300px;
  }
}

@media (max-width: 500px) {
  .form_search {
    margin-left:0;
    width:100%;
    margin:auto;
    top:0;
  }
}

@media (max-width: 500px) {
  div#navbar-top-sticky {
    top: 50px;
  }
  .form_search {
       width:100%;
  }
}



/*estilos del buscador para móviles*/


@media (max-width: 577px) {

  searchInput {
    width:100%;

  }
  .form_search {
    margin-left:0;
    width:163%;
    margin:auto;
    top:7vw;
  }

  .brand-logo{
      margin-top: -50px;
      

  }

  .search-results{
    width:70%!important
  }

  .nav-search-field::placeholder{
     
    font-size: 1em;

    
  }
  .main-menu{
    height:30vw
  }
}



@media (min-width: 578px) {

   .search-results{
      width:100;
  }

}
</style>
