<template>
  <div>
    <div class="icon-nav">
      <ul>
        <!--<li class="onhover-div mobile-search">
          <div>
            <img
              alt
              :src='"@/assets/images/icon/layout4/search.png"'
              @click="openSearch()"
              class="img-fluid"
            >
            <i class="ti-search" @click="openSearch()"></i>
          </div>
          <div id="search-overlay" class="search-overlay" :class="{ opensearch:search }">
            <div>
              <span class="closebtn" @click="closeSearch()" title="Close Overlay">×</span>
              <div class="overlay-content">
                <div class="container">
                  <div class="row">
                    <div class="col-xl-12">
                      <form>
                        <div class="form-group mb-0">
                          <input
                            type="text"
                            class="form-control"
                            v-model="searchString"
                            @keyup="searchProduct"
                            placeholder="Buscar productos"
                          >
                        </div>
                        <button type="submit" class="btn btn-primary">
                          <i class="fa fa-search"></i>
                        </button>
                      </form>
                      <ul class="search-results" v-if="searchItems.length">
                        <li v-for="(product,index) in searchItems" :key="index" class="product-box">
                          <div class="img-wrapper">
                            <img
                              :src="product.picture.url"
                              class="img-fluid bg-img"
                              :key="index"
                            />
                          </div>
                          <div class="product-detail">
                            <nuxt-link :to="{ path: '/productos/'+product.slug}">
                              <h6>{{ product.title }}</h6>
                            </nuxt-link>
                            <h4>{{ product.price / curr.rate | currency(curr.symbol) }}</h4>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>-->

        <li class="onhover-div mobile-cart">
          <div>
            <img alt :src='"@/assets/images/icon/layout4/cart.png"' class="img-fluid">
            <i class="ti-shopping-cart"></i>
            <span class="cart_qty_cls">{{cart.length}}</span>
          </div>
          <ul class="show-div shopping-cart" v-if="!cart.length">
            <li>Tu carrito está vacío.</li>
          </ul>
          <ul class="show-div shopping-cart" v-if="cart.length">
            <li v-for="(item,index) in cart" :key="index">
              <div class="media">
                <nuxt-link :to="{ path: `${slug.products}/${item.slug}`}" v-if="item.picture">
                  <img alt class="mr-3" :src='item.picture.url'>
                </nuxt-link>
                <div class="media-body">
                  <nuxt-link :to="{ path: `${slug.products}/${item.slug}`}">
                    <h4>{{item.title}}</h4>
                  </nuxt-link>

                  <h4>
                    <span v-if="item.offer">{{item.quantity}} x {{ item.offer_price / currency.rate | currency(currency.symbol) }}</span>
                    <span v-else>{{item.quantity}} x {{ item.price / currency.rate | currency(currency.symbol) }}</span>
                  </h4>

                </div>
              </div>
              <div class="close-circle">
                <a href="#" @click='removeCartItem(item)'>
                  <i class="fa fa-times" aria-hidden="true"></i>
                </a>
              </div>
            </li>
            <li>
              <div class="total">
                <h5>
                  Subtotal:
                  <span>{{ cartTotalAmount / currency.rate | currency(currency.symbol) }}</span>
                </h5>
              </div>
            </li>
            <li>
              <div class="buttons">
                <nuxt-link :to="{ path: '/carrito'}" :class="'view-cart'">
                  Ver carrito
                </nuxt-link>
                <nuxt-link :to="{ path: '/checkout'}" :class="'checkout'">
                  Finalizar compra
                </nuxt-link>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import { mapState, mapGetters } from 'vuex'
export default {

  data() {
    return {
      slug: false,
      currencyChange: {},
      search: false,
      searchString: ''
    }
  },

  computed: {
    ...mapState({
      searchItems: state => state.products.searchProduct
    }),

    ...mapGetters({
      cart: 'cart/cartItems',
      cartTotalAmount: 'cart/cartTotalAmount',
      curr: 'products/changeCurrency',
      currency: 'currency/current'
    })
  },

  created() {
     this.slug = this.$config.slug
  },

  methods: {
    getImgUrl(path) {
      return require('@/assets/images/' + path)
    },

    openSearch() {
      this.search = true
    },

    closeSearch() {
      this.search = false
    },

    searchProduct() {
      this.$store.dispatch('products/searchProduct', this.searchString)
    },

    removeCartItem: function (product) {
      this.$store.dispatch('cart/removeCartItem', product)
    },

    updateCurrency: function (currency, currSymbol) {
      this.currencyChange = { curr: currency, symbol: currSymbol }
      this.$store.dispatch('products/changeCurrency', this.currencyChange)
    }
  }
}
</script>
