<template>

  <div id="mySidenav" class="sidenav" :class="{ openSide:leftSidebarVal }">
    <a class="sidebar-overlay" @click="closeLeftBar(leftSidebarVal)"></a>
    <nav>
      <a @click="closeLeftBar(leftSidebarVal)">
        <div class="sidebar-back text-left">
          <i class="fa fa-angle-left pr-2" aria-hidden="true"></i> Cerrar
        </div>
      </a>
      <!-- Sample menu definition -->
      <ul id="sub-menu" class="sidebar-menu" v-if="categories">
        <li v-for="(menu, index) in categories" :key="index">
          
          <nuxt-link :to="{ path: `${slug.categories}/${menu.slug}`}" @click="setActive(menu.slug)" >
            {{ menu.title }}
          </nuxt-link>

          <!--<a @click="setActive(menu.slug)" v-if="menu.childs.length">
            {{ menu.title }}
            <span class="sub-arrow"></span>
          </a>-->

          <!--<ul :class="{ opensub1: isActive(menu.slug) }" v-if="menu.childs.length">
            <li>
              <nuxt-link :to="{ path: `${slug.categories}/${menu.slug}`}">Todos los productos</nuxt-link>
            </li>
            <li v-for="submenu in menu.childs" :key="submenu.id">
              <nuxt-link :to="{ path: `${slug.categories}/${menu.slug}/${submenu.slug}`}" v-text="submenu.title"></nuxt-link>
            </li>
          </ul>-->

        </li>
      </ul>
    </nav>
  </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'

export default {

  props: ['leftSidebarVal'],

  data() {
    return {
      activeItem: 'clothing',
      slug: null,
    }
  },

  computed: {
    ...mapGetters({
      categories: 'menu/categories'
    })
  },

  created() {
    this.slug = this.$config.slug
    this.getCategories()
  },

  methods: {
 
   ...mapActions({
      getCategories: 'menu/getCategories',   
    }),

    closeLeftBar(val) {
      val = false
      this.$emit('closeVal', val)
    },

    isActive: function (menuItem) {
      return this.activeItem === menuItem
    },

    setActive: function (menuItem) {
      if (this.activeItem === menuItem) {
        this.activeItem = ''
      } else {
        this.activeItem = menuItem
      }
    }
  }
}
</script>
<style lang="scss">
header .sidenav .sidebar-menu {
  background-color: #ffffff;
  display: block;
  margin: 0;
  padding: 0;
  direction: ltr;
  text-align: left;
  overflow-y: visible;
  overflow-x: hidden;
  height: 85vh;
}
</style>