<template>
  <div>
      <div class="row">
    <div class="col-xl-12">
      <div class="filter-main-btn mb-2 ml-3">
        <span class="filter-btn btn btn-theme" @click="filter = !filter">
          <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
        </span>
      </div>
    </div>
   </div>
     <div class="collection-filter" :class="{'openFilterbar' : filter}">
      <div class="collection-filter-block">
        <div class="collection-mobile-back">
          <span class="filter-back" @click="filter = !filter">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            Cerrar
          </span>
        </div>
        <div class="collection-collapse-block" :class="{ open: openBlock }">
        <h3 class="collapse-block-title" @click="toggleSidebarBlock()">Categorías</h3>
        <div class="collection-collapse-block-content">
          <div class="collection-brand-filter">
            <ul class="category-list">
              <li>
                <nuxt-link :to="{ path: '/productos'}">Todos los productos</nuxt-link>
              </li>
              <li
                v-for="(category,index) in categories"
                :key="index">
                <nuxt-link
                  :to="{ path: '/productos/categorias/'+category.slug}"
                  @click="getCategoryFilter(category)"
                >{{ category.title }}</nuxt-link>
              </li>
            </ul>
          </div>
        </div>
      </div>
      </div>
   
      <!-- Banner promocional -->
      <div class="collection-sidebar-banner">
        <a href="javascript:void(0)">
          <img :src="bannerSiderbar" class="img-fluid" />
        </a>
      </div>

      <!-- side-bar single product slider start -->
      <div class="theme-card" v-if="productsNews.length > 0">
        <h5 class="title-border">Productos nuevos</h5>
        <div class="offer-slider slide-1">
          <div v-swiper:mySwiper="swiperOption">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div>
                  <div class="media" v-for="(product,index) in productsNews.splice(0,3)" :key="index">
                    <nuxt-link :to="{ path: '/productos/'+product.slug}">
                      <img class="img-fluid" :src="product.picture.url" alt>
                    </nuxt-link>
                    <div class="media-body align-self-center">
                      <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <nuxt-link :to="{ path: '/productos/'+product.slug}">
                        <h6>{{product.title}}</h6>
                      </nuxt-link>
                      <h4 v-if="product.offer_price">
                        {{ product.offer_price / currency.cost | currency(currency.symbol) }}
                        <del>{{ product.price / currency.cost | currency(currency.symbol) }}</del>
                      </h4>
                      <h4 v-else>{{ product.price / currency.cost | currency(currency.symbol) }}</h4>
                    </div>
                  </div>
                </div>
              </div>
                <div class="swiper-slide" v-if="productsNews.length >= 4">
                <div>
                  <div class="media" v-for="(product, index) in productsNews.splice(3,3)" :key="index">
                    <nuxt-link :to="{ path: '/productos/'+product.slug}">
                      <img class="img-fluid" :src="product.picture.url" alt>
                    </nuxt-link>
                    <div class="media-body align-self-center">
                      <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <nuxt-link :to="{ path: '/productos/'+product.slug}">
                        <h6>{{product.title}}</h6>
                      </nuxt-link>
                      <h4 v-if="product.offer_price">
                        {{ product.offer_price / currency.cost | currency(currency.symbol) }}
                        <del>{{ product.price / currency.cost | currency(currency.symbol) }}</del>
                      </h4>
                      <h4 v-else>{{ product.price / currency.cost | currency(currency.symbol) }}</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="swiper-button-prev" slot="button-prev">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </div>
          <div class="swiper-button-next" slot="button-next">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </div>
          </div>
        </div>
      </div>


    </div>
    <!-- side-bar single product slider end -->
  </div>
</template>

<script>

import { mapState, mapGetters } from 'vuex'

export default {
  props: {
    bannerSiderbar: {
      type: String
    }
  },

  data() {
    return {
      openBlock: true,
      filter: false,
      swiperOption: {
        loop: false,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      }
    }
  },

  computed: {

    ...mapState({
      productslist: state => state.products.productslist,
      currency: state => state.products.currency
    }),

    ...mapGetters({
      filterbyCategory: 'filter/filterbyCategory',
      categories: 'products/getCategories',
      productsNews: 'products/getProductsNews',
      curr: 'products/changeCurrency'
    })

  },

  methods: {

    getCategoryProduct(collection) {
      return this.productslist.filter((item) => {
        if (item.collection.find(i => i === collection)) {
          return item
        }
      })
    },

    /*getImgUrl(path) {
      return require('@/assets/images/' + path)
    },*/

    discountedPrice(product) {
      const price = product.price - (product.price * product.discount / 100)
      return price
    },

    isActive(filterItem) {
      return this.applyFilter.indexOf(filterItem) > -1
    },

    getCategoryFilter(category) {
      this.$store.dispatch('filter/getCategoryFilter', category)
    },
    
    toggleSidebarBlock() {
      this.openBlock = !this.openBlock
    }
  }
}
</script>
