<template>
  <div>
     <div class="row">
        <div class="col-xl-12">
          <div class="filter-main-btn"  @click="filter = !filter">
            <span class="filter-btn btn btn-theme">
              <i class="fa fa-filter" aria-hidden="true"></i> Filtrar
            </span>
          </div>
        </div>
      </div>
      <div class="collection-filter" :class="{ 'openFilterbar' : filter }">
     <div class="collection-filter-block">
      <!-- brand filter start -->
      <div class="collection-mobile-back">
        <span class="filter-back" @click="filter = !filter">
          <i class="fa fa-angle-left" aria-hidden="true"></i> Cerrar
        </span>
      </div>
      <div class="collection-collapse-block open">
       <h3 class="collapse-block-title" v-b-toggle.category>Categorías</h3>
        <b-collapse id="category" visible accordion="myaccordion" role="tabpanel">
          <div class="collection-collapse-block-content">
          <div class="collection-brand-filter">
            <ul class="category-list">
              <li class="sidebar-category-item">
                <nuxt-link :to="{ path: `/categorias`}">Todas las categorías</nuxt-link>
              </li>
              <li 
                class="sidebar-category-item"
                v-for="(category,index) in categories"
                :key="index"
                style="cursor:pointer"
                @click="getCategoryFilter(category.slug)"
              >
                <nuxt-link
                  :to="{ path: `/categorias/${category.slug}`}"                  
                >{{ category.title }}</nuxt-link>
              </li>
            </ul>
          </div>
        </div>
      </b-collapse>
      </div>
    </div>

    <!-- side-bar colleps block stat -->
    <div class="collection-filter-block" v-if="1 == 2">
      <!-- brand filter start -->
      <div class="collection-collapse-block open" v-if="filterbyBrand.length">
        <h3 class="collapse-block-title"  v-b-toggle.brand >brand</h3>
         <b-collapse id="brand" visible accordion="myaccordion1" role="tabpanel">
        <div class="collection-collapse-block-content">
          <div class="collection-brand-filter">
            <div
              class="custom-control custom-checkbox collection-filter-checkbox"
              v-for="(brand,index) in filterbyBrand"
              :key="index"
            >
              <input
              type="checkbox"
              class="custom-control-input"
              :value="brand"
              :id="brand"
              v-model="applyFilter"
              @change="appliedFilter(brand)" />
              <label class="custom-control-label" v-bind:for="brand">{{brand}}</label>
            </div>
          </div>
        </div>
         </b-collapse>
      </div>

      <!-- color filter start here -->
      <div class="collection-collapse-block open" v-if="filterbycolor.length">
        <h3 class="collapse-block-title" v-b-toggle.colors>colors</h3>
          <b-collapse id="colors" visible accordion="myaccordion2" role="tabpanel">
        <div class="collection-collapse-block-content">
          <div class="collection-brand-filter color-filter">
            <div
              class="custom-control custom-checkbox collection-filter-checkbox"
              v-for="(color,index) in filterbycolor"
              :key="index"
            >
              <input
              type="checkbox"
              class="custom-control-input"
              :value="color"
              :id="color"
              v-model="applyFilter"
              @change="appliedFilter(color)" />
              <span :class="color" v-bind:style="{ 'background-color' : color}"></span>
              <label class="custom-control-label" :class="{selected: isActive(color)}" v-bind:for="color">{{color}}</label>
            </div>
          </div>
        </div>
        </b-collapse>
      </div>

      <!-- size filter start here -->
      <div class="collection-collapse-block open" v-if="filterbysize.length">
        <h3 class="collapse-block-title" v-b-toggle.size>Size</h3>
         <b-collapse id="size" visible accordion="myaccordion3" role="tabpanel">
        <div class="collection-collapse-block-content">
          <div class="color-selector">
            <div class="collection-brand-filter">
              <div
                class="custom-control custom-checkbox collection-filter-checkbox"
                v-for="(size,index) in filterbysize"
                :key="index"
              >
                <input
                type="checkbox"
                class="custom-control-input"
                :value="size"
                :id="size"
                v-model="applyFilter"
                @change="appliedFilter(size)" />
                <label class="custom-control-label" v-bind:for="size">{{size}}</label>
              </div>
            </div>
          </div>
        </div>
         </b-collapse>
      </div>

      <!-- price filter start here -->
      <div class="collection-collapse-block border-0 open" v-if="showPrices">
        <h3 class="collapse-block-title" v-b-toggle.price>Precio</h3>
        <b-collapse id="price" visible accordion="myaccordion4" role="tabpanel">
          <div class="collection-collapse-block-content">
            <div class="collection-brand-filter price-rangee-picker">
              <vue-slider
                v-model="value"
                :min="0"
                :max="800"
                ref="slider"
                @change="sliderChange($refs.slider.getValue())">
              </vue-slider>
            </div>
          </div>
        </b-collapse>
      </div>
    </div>

        <!-- side-bar single product slider end -->
        <!-- side-bar banner start here -->
        <div class="collection-sidebar-banner">
          <a href="#">
            <img :src="sideBanner" class="img-fluid" />
          </a>
        </div>
        <!-- side-bar banner end here -->
    </div>
    <!-- silde-bar colleps block end here -->
  </div>
</template>

<script>

import { mapState, mapGetters, mapActions } from 'vuex'
import VueSlider from 'vue-slider-component/dist-css/vue-slider-component.umd.min.js'

export default {

  props: {
    sideBanner: {
      type: String
    },
    showPrices: {
      type: Boolean,
      default: true,
    }
  },

  data() {
    return {
      value: [50, 550],
      selectedcolor: [],
      selectedbrand: [],
      selectedsize: [],
      applyFilter: [],
      activeItem: 'category',
      filter: false,
      swiperOption: {
        loop: false,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      }
    }
  },
  components: {
    VueSlider
  },
  computed: {

    ...mapState({
      productslist: state => state.products.productslist,
      currency: state => state.currency.current,
      //categories: state => state.categories.data,
    }),

    ...mapGetters({
      categories: 'products/categories',
      filterbyCategory: 'filter/filterbyCategory',
      filterbyBrand: 'filter/filterbyBrand',
      filterbycolor: 'filter/filterbycolor',
      filterbysize: 'filter/filterbysize',
      //categories: 'categories/data',
    })
  },


  mounted() {
    this.getAllCategories()
    this.$emit('priceVal', this.value)
  },

  methods: {

    ...mapActions({
      getAllCategories: 'products/getAllCategories',
    }),


    discountedPrice(product) {
      const price = product.price - (product.price * product.discount / 100)
      return price
    },

    isActive(filterItem) {
      return this.applyFilter.indexOf(filterItem) > -1
    },

    appliedFilter(val) {
      //this.$emit('allFilters', this.applyFilter)
    },

    sliderChange(event) {
      this.$emit('priceVal', event)
    },

    toggleSidebarBlock() {
      this.openBlock = !this.openBlock
    },

    getCategoryFilter(category) {
      this.$emit('categoryChange', category)
      this.$router.push(`/categorias/${category}`)
      //this.$store.dispatch('products/getCategoryFilter', category)
    }
  }
}
</script>

<style lang="scss">
.collection-collapse-block .collection-collapse-block-content .collection-brand-filter .category-list li a {
  padding-bottom: 0px;
}

li.sidebar-category-item {
cursor: pointer;
padding: 5px 10px;
transition: all 0.3s;
}

li.sidebar-category-item:hover {
  background-color: rgba(173, 69, 68, 0.1);
}

</style>