<template>
  <div class="top-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="header-contact">
            <ul>


              <li>
                <a @click="left_sidebar">
                  <div class="bar-style" >
                    <i class="fa fa-bars sidebar-bar" aria-hidden="true"></i>
                  </div>
                </a>
                <v-left-sidebar :leftSidebarVal="leftSidebarVal" @closeVal="closeBarValFromChild" />
              </li>
             

              <li class="welcome-text">{{ wellcome }}</li>
              <li v-if="contact.phone">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <a class="phone-number" :href="'tel:+58' + contact.phone">{{ contact.phone | phone }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 text-right">
          <ul class="header-dropdown">

            <!--<li class="mobile-wishlist">
              <nuxt-link :to="{ path: this.$config.slug.wishlist }">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </nuxt-link>
            </li>-->

            <li class="onhover-dropdown mobile-account currency-menu">
              <i class="fa fa-money" aria-hidden="true"></i> Moneda
              <ul class="onhover-show-div">
                <li v-for="(item, index) in currency" :key="index">
                  <a href="javascript:void(0)" @click="updateCurrency(item)">{{ item.title }} ({{ item.symbol }})</a>
                </li>
              </ul>
            </li>

            <li v-if="isAuth" class="onhover-dropdown mobile-account auth-menu">
              <i class="fa fa-user" aria-hidden="true"></i> Mi cuenta
              <ul class="onhover-show-div">
                <li>
                  <nuxt-link :to="{ path: this.$config.slug.dashboard }">
                    <i class="fa fa-dashboard" aria-hidden="true"></i> Mi cuenta
                  </nuxt-link>
                </li>
                <li>
                  <a @click="logout">
                    <i class="fa fa-sign-out" aria-hidden="true" ></i> Cerrar sesión
                  </a>
                </li>
              </ul>
            </li>

            <li v-else class="onhover-dropdown mobile-account auth-menu">
              <i class="fa fa-user" aria-hidden="true"></i> Mi cuenta
              <ul class="onhover-show-div">
                <li>
                  <nuxt-link :to="{ path: this.$config.slug.login }">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Iniciar sesión
                  </nuxt-link>
                </li>
              </ul>
            </li>


            <li v-if="rrss.facebook" class="social">
              <a :href="rrss.facebook" target="blank" rel="nofollow">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li v-if="rrss.instagram" class="social">
              <a :href="rrss.instagram" target="blank" rel="nofollow">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li v-if="rrss.twitter" class="social">
              <a :href="rrss.twitter" target="blank" rel="nofollow">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'
import firebase from 'firebase'
import UserAuth from '../../pages/page/account/auth/auth'
import LeftSidebar from '../widgets/left-sidebar'

export default {
  components: {
      'v-left-sidebar': LeftSidebar,
  },
  data() {
    return {
      isLogin: false,
      wellcome: 'Bienvenido a Steak Market Nautilus',
      leftSidebarVal: false,
    }
  },

  created() {
    if (process.client) {
      this.isLogin = localStorage.getItem('userlogin')
    }
    this.getAllCurrencies()
    this.getAllSettings()
  },

  computed: {
    ...mapGetters({
      currency: 'currency/actives',
      contact: 'settings/contact',
      rrss: 'settings/rrss',
      isAuth: 'auth/isAuth'
    })
  },

  methods: {

    ...mapActions({
      getAllCurrencies: 'currency/all',
      getAllSettings: 'settings/all', // Información de contacto
    }),

    logout: function () {
      /*firebase.auth().signOut().then(() => {
        UserAuth.Logout()
        this.$router.replace('/page/account/login-firebase')
      })*/
    },

    updateCurrency: function (currency) {
      this.currencyChange = currency
      this.$store.dispatch('currency/changeCurrency', this.currencyChange)
      this.$swal('Moneda predenterminada ' + currency.title)
    },

    left_sidebar() {
      this.leftSidebarVal = true
    },

    closeBarValFromChild(val) {
      this.leftSidebarVal = val
    },
  }

};
</script>

<style lang="scss">
  .auth-menu .onhover-show-div {
    min-width: 180px;
  }

  .currency-menu .onhover-show-div {
    min-width: 230px;
  }
.top-header .header-contact li i {
    color: #e0e0e0;
    padding-right: px;
    cursor: pointer;
}
.swal2-title {
    font-size: 14px !important;
    line-height: 20px !important;
}

@media (max-width: 577px) {

    .social, .fa-phone, .phone-number{
      display:none;
    }
}
</style>
