<template>
  <div>
    <section class="p-0">
      <div
        v-if="homeBanner"
        class="full-banner parallax text-left p-left"
        v-bind:style="{ 'background-image': `url(${homeBanner.picture_url})` }"
      >
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="banner-contain">
                <h2>{{homeBanner.subtitle}}</h2>
                <h3>{{homeBanner.title}}</h3>
                <nuxt-link :to="{path: homeBanner.text_link}" class="btn btn-solid">
                  {{homeBanner.url}}
                </nuxt-link >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script type="text/javascript">
import { mapGetters } from 'vuex'
export default {
  data() {
    return {
      imagepath: require('@/assets/images/parallax/15.jpg'),
      title: '2019',
      subtitle: 'food market',
      text: 'special offer'
    }
  },

  computed: {
    ...mapGetters({
      homeBanner: 'settings/homeBanner'
    })
  }
}
</script>
<style lang="scss">
.full-banner .banner-contain h2 {
  font-size: 28px !important;
  font-weight: 700;
  color: #ffffff;
  margin-top: -15px;
}

.full-banner .banner-contain h3 {
  font-size: 40px !important;
  color: #ffffff;
  font-weight: 700;
}

.full-banner {
  padding-top: 100px;
  padding-bottom: 100px;
}
</style>
