<template>
  <div>
    <section class="category-grid m-0 pt-4 pb-2 banner-6 smn-collection-banner ratio2_1">
      <div aria-label="logo" class="logo-bg"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 163.6 165.42"><defs><style>.cls-1{fill:#dcdcdc;}</style></defs><title>toro-gris</title><g id="Capa_2" data-name="Capa 2"><g id="DESIGNED_BY_FREEPIK" data-name="DESIGNED BY FREEPIK"><path class="cls-1" d="M115.62,106.11c-24.68,11.12-39.12,29.84-43,56.65-.36,2.48-.49,2.58-3,2-8.95-2.3-13.92-8.57-14.06-17.86a43.74,43.74,0,0,1,6.34-23.26c13-21.87,58.73-43.1,58.73-43.1S118.78,104.68,115.62,106.11Z"></path><path class="cls-1" d="M48.16,57.94C34.65,62.3,29.41,65.2,20,70.39a.4.4,0,0,0,0,.69,108.44,108.44,0,0,0,21.06,9c1.67.48,3.65.51,5-.63C61.4,66.27,72.76,62.06,76.54,61.07,76.86,61,49.36,57.55,48.16,57.94Z"></path><path class="cls-1" d="M102.45,128.86c.11.07.24.1.27.17,2.59,6.74,3.82,13.61,1.8,20.73-1.16,4.1-5,10.41-8.68,12.58a23.55,23.55,0,0,1-8.16,2.92c-2.45.42-2.77.15-2.34-2.37a71.16,71.16,0,0,1,1.53-7.1c2.29-8.27,7.69-18.79,13.41-25.17C100.9,129.93,101.41,129,102.45,128.86Z"></path><path class="cls-1" d="M125.79,51.25c-3.8.71-7.67,1.13-11.43,2-27.9,6.39-54.48,21.5-72.88,43-.9,1-2.09,18.1,2.75,24.62,2.17,2.92,2.37,3,4.29-.14,28-46,94.54-54.59,98-55.94C147.09,64.54,136.79,53.67,125.79,51.25Z"></path><path class="cls-1" d="M146.68,69.25a60.26,60.26,0,0,1-10.32,5.86,60,60,0,0,1-9,3.23c-.33,3.26-.85,7.82-1.55,11.89h.13c2.91-.89,16.2-5.4,20-14.56a17.17,17.17,0,0,0,1.53-6A.46.46,0,0,0,146.68,69.25Z"></path><path class="cls-1" d="M38.79,84.22A.45.45,0,0,1,39,85a17,17,0,0,1-5.37,3.09C24.45,91.79,12,85.41,9.27,83.94a.59.59,0,0,1-.23-.8c.91-1.57,3.78-6.35,6.3-8.27a.69.69,0,0,1,.8,0c.31.2.67.48,1.11.83A52.94,52.94,0,0,0,27.4,80.91,59.61,59.61,0,0,0,38.79,84.22Z"></path><path class="cls-1" d="M40.29,55.31C29.06,53.09,20.48,47.21,15.63,36a21.3,21.3,0,0,1-1-15.63A34.86,34.86,0,0,1,22.9,7.32a10.6,10.6,0,0,0,2.27-2.73,30.24,30.24,0,0,0-7.86,2.73C9,11.42,3.3,17.76,1.06,26.93A44.87,44.87,0,0,0,.88,45.5,29.13,29.13,0,0,0,12.1,63.89c.92.72,1.86,1.39,2.81,2C22.87,61.65,29.31,58.94,40.29,55.31Z"></path><path class="cls-1" d="M162.54,22.35c-2.23-9.18-7.89-15.52-16.25-19.61A29.75,29.75,0,0,0,138.43,0a10.62,10.62,0,0,0,2.27,2.73,34.86,34.86,0,0,1,8.22,13.08A21.23,21.23,0,0,1,148,31.45a30.76,30.76,0,0,1-16.79,16.91c8.75,2.71,16.65,10.13,18.41,12.35.65-.45,1.29-.92,1.91-1.41a29.13,29.13,0,0,0,11.22-18.39A44.65,44.65,0,0,0,162.54,22.35Z"></path></g></g></svg></div>

      <div class="container">
        <v-heading :title="title" :subtitle="subtitle" />
        <div class="row partition3 pb-4">
          <div class="col-lg-2 col-md-2 col-sm-3 col-12 grid"
            v-for="(item, index) in categories"
            :key="index"
          >
            <nuxt-link :to="{path: `${slug.categories}/${item.slug}`}" class="link m-0">
              <div class="collection-banner p-center">
                <div class="overlay0"></div>
                <div class="img-part img-categories p-3" v-if="item.picture != null">
                  <img :src="item.picture.url" class="img-fluid" :alt="item.alt" />
                </div>
                <div class="banner-2 mt-2">
                  <div><h4 class="pl-4 pt-2">{{item.title}}</h4></div>
                </div>
              </div>
            </nuxt-link>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script type="text/javascript">

import Heading from './heading'
import { mapGetters, mapActions } from 'vuex'

export default {

  props: ['products', 'title', 'subtitle'],

  components: {
    'v-heading': Heading
  },

  data() {
    return {
      slug: false,
    }
  },

  created() {
    this.slug = this.$config.slug
    this.getCategoriesRoot()
  },

  computed:{
    ...mapGetters({
      categories: 'categories/roots',
    })
  },

  methods: {
    ...mapActions({
      getCategoriesRoot: 'categories/getCategoriesRoot'
    }),
  }

}
</script>

<style lang="scss">
.img-categories {
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  border-radius: 30px;
}

.category-grid .grid {
  padding: 5px 25px;
  margin-bottom: 15px;
}

@media (max-width: 1200px) {
  .category-grid .grid {
    padding: 5px 25px;
    margin-bottom: 15px;
  }
}
@media (max-width: 992px) {
  .category-grid .grid {
    padding: 15px 20px;
    margin-bottom: 15px;
  }
}

@media (max-width: 500px) {
  .category-grid .grid {
    padding: 15px 15px;
    margin-bottom: 15px;
  }
}
</style>
