<template>
  <div>
    <section class="mt-4 pt-4 banner-6 smn-collection-banner ratio2_1">
      <div class="container">
        <div class="row partition3">
          <div class="col-md-3" v-for="(item, index) in items" :key="index">
            <nuxt-link :to="{path: '/productos/categorias/' + item.slug}" class="link m-2">              
              <div class="collection-banner p-center">
                <div class="overlay0"></div>
                <div class="img-part" v-if="item.picture">
                  <img :src="item.picture.url" class="img-fluid" :alt="item.title" />
                </div>
                <div class="contain-banner banner-3">
                  <div>
                    <h4>{{item.title}}</h4>
                  </div>
                </div>
              </div>
            </nuxt-link>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script type="text/javascript">

import axios from "axios";
import Config from "../../../../data/config.json";
const api = Config.config.api

export default {
  data() {
    return {
      items: [
        {
          imagepath: require('@/assets/images/pets/banner/1.jpg'),
          title: 'cloths',
          alignclass: 'p-left'
        },
        {
          imagepath: require('@/assets/images/pets/banner/2.jpg'),
          title: 'groom',
          alignclass: 'p-right'
        },
        {
          imagepath: require('@/assets/images/pets/banner/3.jpg'),
          title: 'food',
          alignclass: 'p-left'
        },
        {
          imagepath: require('@/assets/images/pets/banner/4.jpg'),
          title: 'home',
          alignclass: 'p-right'
        },
        {
          imagepath: require('@/assets/images/pets/banner/5.jpg'),
          title: 'cats',
          alignclass: 'p-right'
        },
        {
          imagepath: require('@/assets/images/pets/banner/6.jpg'),
          title: 'bowls',
          alignclass: 'p-right'
        }
      ]
    }
  },

  created() {
    this.loadData()
  },

  methods: {

    loadData(){
      let vm = this
      // Obtener el menu de categorias
      axios.get(api + 'store/products/categories').then(response => {        
        //vm.items = response.data.data;
      })
      
    },
  }

}
</script>
