<template>
    <div>
        <div class="title4 pt-4 pb-4 mt-4">
            <h3>{{subtitle}}</h3>
            <h2 class="title-inner4">{{title}}</h2>
            <div class="line">
                <span></span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        title: {
            type: String,
            required: true
        },
        subtitle: {
            type: String,
        }
    }
}
</script>
