<template>
  <div>
    <!-- Home slider -->
    <section class="p-0">
      <div class="slide-1 home-slider">

        <div class="loading" v-if="sliders.length < 1">
          <span class="loading__pil"></span>
          <span class="loading__pil"></span>
          <span class="loading__pil"></span>
        </div>

        <div v-swiper:mySwiper="swiperOption">
          <div class="swiper-wrapper">
            <div
              v-for="(item, index) in sliders"
              :key="index"
              class="swiper-slide"
            >
              <div
                class="home text-right"
                v-bind:style="{ 'background-image': 'url(' + item.picture_url + ')' }"
              >
                <div class="container">
                  <div class="row">
                    <div class="col">
                      <div class="slider-contain">
                        <div>
                          <h4 v-text="item.title"></h4>
                          <h1 v-text="item.subtitle"></h1>
                          <nuxt-link :to="{path: item.url}" class="btn btn-solid">
                            {{item.text_link}}
                          </nuxt-link >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev" slot="button-prev"></div>
          <div class="swiper-button-next" slot="button-next"></div>
        </div>
      </div>
    </section>
    <!-- Home slider end -->
  </div>
</template>

<script type="text/javascript">
import { mapGetters } from 'vuex'
export default {

  data() {
    return {
      swiperOption: {
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      },
    }
  },

  computed:{
    ...mapGetters({
      sliders: 'settings/sliders'
    })
  },
}
</script>
<style lang="scss">
.slide-1 {
  min-height: 75vh;
}
.home-slider .slider-contain, .center-slider .slider-contain {
  width: 100%;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


@keyframes anim-loading-pill {
  0% {
    transform: translateY(-25%);
    opacity:1;
  }

  100% {
    transform: translateY(25%) scale(.9);
    opacity: .9;
  }
}

$duration: 750ms;


.slide-1 .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .loading__pill {
    width:100px;
    height: 100px;
    background-color: rgb(207, 66, 66);
    border-radius: 50%;
    animation: anim-loading-pill $duration ease-in infinite alternate;

    @for $i from 1 through 3 {
      &:nth-last-child(#{$i}) {
        animation-delay: -1 * ($duration / 3 * $i);
      }
    }

    &:not(:last-child) {
      margin-right: 25px;
    }
  }
}


</style>
