<template>
  <div>
    <div id="cart_side" class="add_to_cart right" :class="{ openSide:openCart }">
      <a href="javascript:void(0)" class="overlay" @click="closeCart(openCart)"></a>
      <div class="cart-inner">
        <div class="cart_top">
          <h3>Carrito</h3>
          <div class="close-cart">
            <a href="javascript:void(0)" @click="closeCart(openCart)">
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="cart_media" v-if="cart.length">
          <ul class="cart_product">
            <li v-for="(item,index) in cart" :key="index">
              <div class="media">
                <nuxt-link :to="{ path: `/productos/${item.slug}`}" v-if="item.picture">
                  <img alt class="mr-3" :src="item.picture.url">
                </nuxt-link>
                <nuxt-link :to="{ path: `/productos/${item.slug}`}" v-else>
                  <img alt class="mr-3" :src="require('@/assets/images/noimage.jpg')">
                </nuxt-link>
                <div class="media-body">
                  <nuxt-link :to="{ path: `/productos/${item.slug}`}">
                    <h4>{{item.title}}</h4>
                  </nuxt-link>
                  <h4>
                    <span v-if="item.offer">{{item.quantity}} x {{ item.offer_price / currency.rate | currency(currency.symbol) }}</span>
                    <span v-else>{{item.quantity}} x {{ item.price / currency.rate | currency(currency.symbol) }}</span>
                  </h4>
                </div>
              </div>
              <div class="close-circle">
                <a href="javascript:void(0)" @click='removeCartItem(item)'>
                  <i class="ti-trash" aria-hidden="true"></i>
                </a>
              </div>
            </li>
          </ul>
          <ul class="cart_total">
            <li>
              <div class="total">
                <h5>
                  Subtotal:
                  <span>{{ cartTotalAmount / currency.rate | currency(currency.symbol) }}</span>
                </h5>
              </div>
            </li>
            <li>
              <div class="buttons">
                <nuxt-link :to="{ path: '/carrito'}" :class="'btn btn-solid btn-xs view-cart'">
                  Ver carrito
                </nuxt-link>
                <nuxt-link :to="{ path: '/checkout'}" :class="'btn btn-solid btn-xs checkout'">
                  Finalizar compra
                </nuxt-link>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 empty-cart-cls text-left" v-if="!cart.length">
          <h4 class="mt-3">
            <strong>El carrito está vacío</strong>
          </h4>
          <!--<nuxt-link :to="{ path: '/'}" class="btn btn-solid">Continuar comprando</nuxt-link>-->
        </div>
      </div>
    </div>
  </div>
</template>
<script>

import { mapState, mapGetters } from 'vuex'

export default {

  props: ['openCart'],

  computed: {

    ...mapState({
      currency: state => state.currency.current
    }),

    ...mapGetters({
      cart: 'cart/cartItems',
      cartTotalAmount: 'cart/cartTotalAmount',
      curr: 'currency/current'
    })

  },

  methods: {

    // Get Image Url
    getImgUrl(path) {
      return require('@/assets/images/' + path)
    },

    closeCart(val) {
      val = false
      this.$emit('closeCart', val)
    },

    removeCartItem: function (product) {
      this.$store.dispatch('cart/removeCartItem', product)
    },

    updateCurrency: function (currency, currSymbol) {
      this.currencyChange = { curr: currency, symbol: currSymbol }
      this.$store.dispatch('products/changeCurrency', this.currencyChange)
    }
  }
}
</script>
