<template>
  <div>
    <b-modal
      id="modal-cart"
      size="lg"
      centered
      title="Agregar al carrito"
      :hide-footer="true"
      :hide-header="true"
      v-if="openCart"
    >
      <div class="row cart-modal">
        <div class="col-lg-12">
          <button class="close" type="button" @click="closeCart(openCart)">
            <span>×</span>
          </button>
          <div class="media">
            <!--<img
              v-if="product.picture"
              :src='product.picture.url'
              :id="product.id"
              class="img-fluid bg-img"
              :alt="product.title"
              :key="index"
            />-->
            <div class="media-body align-self-center text-center">
              <h5>
                <i class="fa fa-check"></i>Item
                <span>{{productData.title}}</span>
                <span>Producto agregado al carrito.</span>
              </h5>
              <div class="buttons d-flex justify-content-center">
                <nuxt-link
                  :to="{ path: '/page/account/cart'}"
                  class="btn-sm btn-solid mr-2"
                >Ver carrito</nuxt-link>
                <nuxt-link
                  :to="{ path: '/page/account/checkout'}"
                  class="btn-sm btn-solid mr-2"
                >Finalizar compra</nuxt-link>
                <nuxt-link
                  :to="{ path: '/'}"
                  class="btn-sm btn-solid"
                >Continuar comprando</nuxt-link>
              </div>
              <div class="upsell_payment">
                <img alt="" class="img-fluid w-auto mt-3" :src='"@/assets/images/payment_cart.png"'></div>
            </div>
          </div>
          <div class="product-section">
                <div class="col-12 product-upsell text-center">
                  <h4>Clientes que compraron este artículo también.</h4>
                </div>
                <div class="row">
                  <div
                  v-for="(product,index) in cartRelatedProducts(productData.collection[0], productData.slug).slice(0, 4)"
                  :key="index"
                  class="product-box col-sm-3 col-6">
                    <div class="img-wrapper">
                      <div class="front">
                        <nuxt-link :to="{ path: this.$config.slug.products + product.slug}">
                          <img
                            v-if="product.picture"
                            :src='product.picture.url'
                            :id="product.id"
                            class="img-fluid bg-img"
                            :alt="product.title"
                            :key="index"
                          />
                        </nuxt-link>
                      </div>
                      <div class="product-detail">
                        <nuxt-link :to="{ path: this.$config.slug.products + product.slug}">
                          <h6>{{ product.title }}</h6>
                        </nuxt-link>
                        <h4 v-if="product.sale">{{ discountedPrice(product) / curr.rate | currency(curr.symbol) }}
                          <del>{{ product.price / curr.rate | currency(curr.symbol) }}</del>
                        </h4>
                        <h4 v-else>{{ product.price / curr.rate | currency(curr.symbol) }}</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>
<script>
import { mapState, mapGetters } from 'vuex'
export default {
  props: ['openCart', 'productData', 'products', 'category'],
  computed: {
    ...mapState({
      currency: state => state.products.currency
    }),
    ...mapGetters({
      curr: 'products/changeCurrency'
    })
  },
  methods: {
    // Get Image Url
    getImgUrl(path) {
      return require('@/assets/images/' + path)
    },
    closeCart(val) {
      val = false
      this.$emit('closeCart', val)
    },
    cartRelatedProducts(collection, id) {
      return this.products.filter((item) => {
        if (item.collection.find(i => i === collection)) {
          if (item.id !== id) {
            return item
          }
        }
      })
    },
    discountedPrice(product) {
      return product.price - (product.price * product.discount / 100)
    }
  }
}
</script>
