<template>
  <div>
    <v-header />

    <v-slider />

    <v-services />

    <v-category-grid
      title="Categorías"
      subtitle="Conoce nuestras"
    />

    <v-banner />

    <v-product-slider
      title="Ofertas Especiales"
      subtitle="No te las puedes perder"
      :products="productsOffers"
      @openQuickview="showQuickview"
      @openCompare="showCoampre"
      @openCart="showCart"
    />

    <!--<v-special-products
      :products="productsOffers"
      :category="category"
      @openQuickview="showQuickview"
      @openCompare="showCoampre"
      @openCart="showCart"
    />-->
    <!--<Blog />-->

    <v-footer />

    <v-quickview-model :openModal="showquickviewmodel" :productData="quickviewproduct" />

    <v-compare-model :openCompare="showcomparemodal" :productData="comapreproduct" @closeCompare="closeCompareModal" />

    <v-cart-right-model :openCart="showcartmodal" @closeCart="closeCart" />

    <!--<v-newsletter-model />-->

  </div>
</template>

<script>

import { mapGetters, mapActions } from 'vuex'

import Header from '../../../components/header/header'
import Footer from '../../../components/footer/footer'
import quickviewModel from '../../../components/widgets/quickview'
import CategoriGrid from "./components/categories-grid";
import compareModel from '../../../components/widgets/compare-popup'
import cartRightModel from '../../../components/cart-model/cart-right-model'
import newsletterModel from '../../../components/widgets/newsletter-popup'
import Slider from './components/slider'
import Services from './components/services'
import ProductSlider from './components/product-slider'
import Banner from './components/banner'
import SpecialProducts from './components/special_products'
import Blog from './components/blog'
import TopCollection from "./components/top-collection";


export default {
  components: {
    'v-header':Header,
    'v-footer': Footer,
    'v-slider': Slider,
    'v-services': Services,
    'v-category-grid': CategoriGrid,
    TopCollection,
    'v-product-slider': ProductSlider,
    'v-banner': Banner,
    'v-special-products': SpecialProducts,
    'v-blog': Blog,
    'v-quickview-model': quickviewModel,
    'v-compare-model': compareModel,
    'v-cart-right-model': cartRightModel,
    //'v-newsletter-model': newsletterModel
  },
  data() {
    return {
      offerCount: 10,
      category: [],
      showquickviewmodel: false,
      showcomparemodal: false,
      showcartmodal: false,
      quickviewproduct: {},
      comapreproduct: {},
      cartproduct: {}
    }
  },

  computed:{
    ...mapGetters({
      productsOffers: 'products/productsOffers',
    })
  },

  created() {
    this.getProductsOffers()
    this.getProducts()
  },

  methods: {

    ...mapActions({
      getProductsOffers: 'products/getProductsOffers',
      getProducts: 'products/all',
    }),

    showQuickview(item, productData) {
      this.showquickviewmodel = item
      this.quickviewproduct = productData
    },

    showCoampre(item, productData) {
      this.showcomparemodal = item
      this.comapreproduct = productData
    },

    closeCompareModal(item) {
      this.showcomparemodal = item
    },

    showCart(item) {
      this.showcartmodal = item
    },

    closeCart(item) {
      this.showcartmodal = item
    }
  }
}
</script>
