<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#a53333">
<meta name="apple-mobile-web-app-title" content="Steak Maket Nautilus">
<meta name="application-name" content="Steak Maket Nautilus">
<meta name="msapplication-TileColor" content="#f1f1f1">
<meta name="theme-color" content="#ffffff">