<template>
  <div>

    <v-header />

    <v-breadcrumbs
      v-if="product != null"
      :title="product.title"
      :levels="breadcrumbs"
    />
    
    <section class="section-b-space">
      <div class="collection-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">
              <v-sidebar
                v-if="product"
                :showPrices="false"
                :sideBanner="product && product.category ? product.category.side_banner : ''"
              />
            </div>
            <div class="col-lg-9 col-sm-12 col-xs-12 productdetail"  v-if="product != null">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-6">
               
                    <div v-swiper:mySwiper="swiperOption" ref="mySwiper">
                      <div class="swiper-wrapper">
                        <div
                          class="swiper-slide"
                          v-for="(img,index) in gallery" :key="index">
                          <b-img thumbnail fluid   
                            :src="img.src"
                            :id="img.id"
                            class="bg-img"
                            style="cursor: pointer;"
                            @click="handlerLightbox(img.src)"
                          />
                          <span 
                            class="img-product-zoom fa fa-search"
                            @click="galleryIndex = 0"
                          ></span>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 slider-nav-images">
                        <div v-swiper:mySwiper1="swiperOption1">
                          <div class="swiper-wrapper">
                            <div
                              class="swiper-slide"
                              v-for="(product,index) in gallery"
                              :key="index"
                              @click="galleryIndex = index"
                              style="cursor: pointer;"
                            >
                              <b-img thumbnail fluid 
                                :src="product.src"
                                :id="product.id"
                                class="bg-img"
                                @click="slideTo(index)"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>                  
                  <div class="col-lg-6 rtl-text">
                    <div class="product-right">
                      <h2>{{ product.title }}</h2>

                      <h4 v-if="product.offer">
                        <del>{{ product.price / currency.rate | currency(currency.symbol) }}</del>
                        <span>{{ parseInt(product.percent) }}% de descuento</span>
                      </h4>
                      
                      <h3 v-if="product.offer">{{ product.offer_price / currency.rate | currency(currency.symbol) }}</h3>
                      <h3 v-else>{{ product.price / currency.rate | currency(currency.symbol) }}</h3>

                      <!--!<h4 v-if="product.offer_price">
                        {{ product.discount | currency(currency.symbol) }}
                      </h4>-->
                      <!--<ul class="color-variant">
                        <li
                          v-bind:class="{ active: activeColor == variant}"
                          v-for="(variant,variantIndex) in Color(product.variants)"
                          :key="variantIndex"
                        >
                          <a
                            :class="[variant]"
                            v-bind:style="{ 'background-color' : variant}"
                            @click="sizeVariant(product.variants[variantIndex].image_id, variantIndex, variant)"
                          ></a>
                        </li>
                      </ul>-->
                      <div class="pro_inventory" v-if="product.stock > 0 && product.stock <= 10">
                        <p class="active"> Quedan solo <strong class="text-danger">{{ product.stock }} existencias</strong> de este producto. Aprovecha no te lo puedes perder </p>
                        <div class="inventory-scroll">
                          <span :style="`width: ${product.stock * 10}%;`"></span>
                        </div>
                      </div>
                      <div class="product-description border-product">
                        <!--<h6 class="product-title size-text">
                          select size
                          <span>
                            <a href="javascript:void(0)" v-b-modal.modal-1>size chart</a>
                          </span>
                        </h6>
                        <div class="size-box">
                          <ul>
                            <li
                              class="product-title"
                              v-bind:class="{ active: selectedSize == size}"
                              v-for="(size,index) in size"
                              :key="index"
                            >
                              <a
                                href="javascript:void(0)"
                                @click="changeSizeVariant(size)"
                              >{{size}}</a>
                            </li>
                          </ul>
                        </div>-->
                        <div class="border-product" v-if="product.description">
                          <!--<h6 class="product-title">Detalle</h6>-->
                          <p v-html="product.description"></p>
                        </div>
                        <h5 class="avalibility" v-if="counter <= product.stock">
                          <span class="text-success">Disponible</span>
                        </h5>
                        <h5 class="avalibility" v-if="counter > product.stock">
                          <span>Agotado</span>
                        </h5>
                        <h6 class="product-title">Cantidad</h6>
                        <div class="qty-box">
                          <div class="input-group">
                            <span class="input-group-prepend">
                              <button
                                type="button"
                                class="btn quantity-left-minus"
                                data-type="minus"
                                data-field
                                @click="decrement()"
                              >
                                <i class="ti-angle-left"></i>
                              </button>
                            </span>
                            <input
                              type="text"
                              name="quantity"
                              class="form-control input-number"
                              :disabled="counter > product.stock"
                              v-model="counter"
                            />
                            <span class="input-group-prepend">
                              <button
                                type="button"
                                class="btn quantity-right-plus"
                                data-type="plus"
                                data-field
                                @click="increment()"
                              >
                                <i class="ti-angle-right"></i>
                              </button>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="product-buttons">                        
                        <button
                          class="btn btn-solid"
                          title="Agregar este producto al carrito de compras"
                          @click="addToCart(product, counter)"
                          :disabled="counter > product.stock"
                        >Agregar</button>                        
                        <button
                            class="btn btn-solid"
                            title="Comprar ahora"
                            @click="buyNow(product, counter)"
                            :disabled="counter > product.stock"
                          >Comprar Ahora</button>
                      </div>                      
                      <!--<div class="border-product">
                        <h6 class="product-title">Comparte</h6>
                        <div class="product-icon">
                          <!--<ul class="product-social">
                            <li>
                              <a href="javascript:void(0)">
                                <i class="fa fa-whatsapp"></i>
                              </a>
                            </li>
                          </ul>--
                          <!--<form class="d-inline-block">
                            <a href="javascript:void(0)" class="wishlist-btn" @click="addToWishlist(product)">
                              <i class="fa fa-heart"></i>
                              <span class="title-font">Agregar a lista de deseos</span>
                            </button>
                          </form>--
                        </div>
                      </div>-->
                      <!--<div class="border-product">
                        <h6 class="product-title">Time Reminder</h6>
                        <Timer date="December 20, 2020" />
                      </div>-->
                    </div>
                  </div>
                </div>
              </div>
              <section class="tab-product m-0">
                <div class="row">
                  <div class="col-sm-12 col-lg-12">
                    <b-tabs card>
                      <b-tab title="Descripción" active>
                        <b-card-text>
                          <div v-html="product.content"></div>
                        </b-card-text>
                      </b-tab>
                      <b-tab title="Caraterísticas" v-if="product.height || product.width || product.depth || product.weight">
                        <b-card-text>                          
                          <div class="single-product-tables">
                            <table>
                              <tbody>
                                <tr v-if="product.height">
                                  <td>Alto</td>
                                  <td v-text="product.height"></td>
                                </tr>
                                <tr v-if="product.width">>
                                  <td>Ancho</td>
                                  <td v-text="product.width"></td>
                                </tr>
                                <tr v-if="product.depth">>
                                  <td>Profundo</td>
                                  <td v-text="product.depth"></td>
                                </tr>
                                <tr v-if="product.weight">>
                                  <td>Peso</td>
                                  <td v-text="product.weight"></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </b-card-text>
                      </b-tab>
                      <b-tab title="Video" v-if="product.video">
                        <b-card-text>
                          <div class="mt-3 text-center">
                            <iframe
                              width="560"
                              height="315"
                              :src="product.video"
                              allow="autoplay; encrypted-media"
                              allowfullscreen
                            ></iframe>
                          </div>
                        </b-card-text>
                      </b-tab>
                      <!--<b-tab title="Write Review">
                        <b-card-text>
                          <form class="theme-form">
                            <div class="form-row">
                              <div class="col-md-12">
                                <div class="media">
                                  <label>Rating</label>
                                  <div class="media-body ml-3">
                                    <div class="rating three-star">
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                      <i class="fa fa-star"></i>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <label for="name">Name</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="name"
                                  placeholder="Enter Your name"
                                  required
                                />
                              </div>
                              <div class="col-md-6">
                                <label for="email">Email</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="email"
                                  placeholder="Email"
                                  required
                                />
                              </div>
                              <div class="col-md-12">
                                <label for="review">Review Title</label>
                                <input
                                  type="text"
                                  class="form-control"
                                  id="review"
                                  placeholder="Enter your Review Subjects"
                                  required
                                />
                              </div>
                              <div class="col-md-12">
                                <label for="review">Review Title</label>
                                <textarea
                                  class="form-control"
                                  placeholder="Wrire Your Testimonial Here"
                                  id="exampleFormControlTextarea1"
                                  rows="6"
                                ></textarea>
                              </div>
                              <div class="col-md-12">
                                <button class="btn btn-solid" type="submit">Submit YOur Review</button>
                              </div>
                            </div>
                          </form>
                        </b-card-text>
                      </b-tab>-->
                    </b-tabs>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <!--<relatedProduct :productTYpe="productTYpe" :productId="productId" />-->

    </section>
    
    <v-footer />

    <div id="lightbox" v-show="lightbox.container">
      <a @click="lightbox.container = false">
        <i class="fa fa-times"></i>
      </a>
      <div id="content" @click="lightbox.container = false">
        <inner-image-zoom :src="lightbox.src" />
      </div>
    </div>

    <CoolLightBox 
      :items="gallery" 
      :index="galleryIndex"
      @close="galleryIndex = null">
    </CoolLightBox>

  <v-cart-right-model :openCart="showcartmodal" @closeCart="closeCart" />

  </div>
</template>

<script>

import { mapState, mapGetters, mapActions } from 'vuex'
import Header from '../../components/header/header'
import Footer from '../../components/footer/footer'
import Breadcrumbs from '../../components/widgets/breadcrumbs'
import Timer from '../../components/widgets/timer'
import Sidebar from '../../components/widgets/sidebar'
import relatedProduct from '../../components/widgets/related-products'
import InnerImageZoom from 'vue-inner-image-zoom';
import 'vue-inner-image-zoom/lib/vue-inner-image-zoom.css';
import cartRightModel from '../../components/cart-model/cart-right-model'

import Config from "../../data/config.json";


import CoolLightBox from 'vue-cool-lightbox'
import 'vue-cool-lightbox/dist/vue-cool-lightbox.min.css'


const state = {
  api: Config.config.api
}


export default {
  components: {
    'v-header': Header,
    'v-footer': Footer,
    'v-breadcrumbs': Breadcrumbs,
    Timer,
    'v-sidebar': Sidebar,
    relatedProduct,
    InnerImageZoom,
    'v-cart-right-model': cartRightModel,
    CoolLightBox,
  },

  data() {
    return {
      showcartmodal: false,
      galleryIndex: null,

      lightbox: {
        container: false,
        src: ''
      },      

      //product: null,
      index: null,

      counter: 1,
      activeColor: '',
      selectedSize: '',
      qty: '',
      size: [],
      productTYpe: '',
      productId: '',

      swiperOption: {
        slidesPerView: 1,
        spaceBetween: 20,
        freeMode: true
      },
      swiperOption1: {
        slidesPerView: 3,
        spaceBetween: 30,
        freeMode: true,
        centeredSlides: false
      },

      breadcrumbs: [
        {title:'Productos', url:'/productos'}
      ]
    }
  },

  computed: {

    ...mapGetters({
      currency: 'currency/changeCurrency',
      loadingProducts: 'products/loading',
      product: 'products/product',
    }),

    /*product() {
      return this.$store.getters['products/getProductBySlug'](this.$route.params.slug)
    },*/

    gallery() {
      let images = []

      if( this.product ) {
        if( this.product.picture ) {
          images.push({
            src: this.product.picture.url,
            id: this.product.picture.id,
          });

          this.product.gallery.forEach( item => {
            images.push({
              src: item.url,
              id: item.id,
            })
          })
        }

      } else {
        images.push({
          src: '',
          id: null,
        });  
      }
      
      return images     
    },

    swiper() {
      return this.$refs.mySwiper.swiper
    }
  },

  created() {
    this.getProduct( this.$route.params.slug )
    this.getProductsOffers()
  },

  mounted() {
    // For displaying default color and size on pageload
    //this.uniqColor = this.getDetail.variants[0].color
    // this.sizeVariant(this.getDetail.variants[0].image_id)
    // Active default color
    //this.activeColor = this.uniqColor
    //this.changeSizeVariant(this.getDetail.variants[0].size)
    // related product type
  },

  methods: {
    ...mapActions({
      getProduct: 'products/bySlug',
      getProductsOffers: 'products/getProductsOffers',      
    }),

    handlerLightbox(src){
      //this.lightbox.container = true
      //this.lightbox.src = src   
      this.galleryIndex = 0 
    },

    loadCategoryFilter(slug){
      let vm = this
      this.$store.dispatch('products/getProductsOfCategory', slug).then(() => {
        vm.loading = false
      })
    },
    
    priceCurrency: function () {
      this.$store.dispatch('products/changeCurrency')
    },

    addToWishlist: function (product) {
      this.$store.dispatch('products/addToWishlist', product)
    },

    /*discountedPrice(product) {
      const price = product.price - (product.price * product.discount / 100)
      return price
    },*/

    // Related Products display
    relatedProducts() {
      //this.productTYpe = this.getDetail.type
      this.productId = this.product.id
    },

    // Display Unique Color
    /*Color(variants) {
      const uniqColor = []
      for (let i = 0; i < Object.keys(variants).length; i++) {
        if (uniqColor.indexOf(variants[i].color) === -1) {
          uniqColor.push(variants[i].color)
        }
      }
      return uniqColor
    },*/

    // add to cart
    addToCart: function (product, qty) {
      product.quantity = product.quantity + qty
      this.$store.dispatch('cart/addToCart', product)
      this.showcartmodal = true
    },

    buyNow: function (product, qty) {
      product.quantity = product.quantity + qty 
      this.$store.dispatch('cart/addToCart', product)
      this.$router.push('/checkout')
    },

    // Item Count
    increment() {
      if(this.counter > this.product.stock) return false;
      this.counter++;
    },

    decrement() {
      if (this.counter > 1) this.counter--
    },

    // Change size variant
    changeSizeVariant(variant) {
      this.selectedSize = variant
    },

    /*getImgUrl(path) {
      return require('@/assets/images/' + path)
    },*/

    slideTo(id) {
      this.swiper.slideTo(id, 1000, false)
    },

    closeCart(item) {
      this.showcartmodal = item
    }

    /*sizeVariant(id, slideId, color) {
      this.swiper.slideTo(slideId, 1000, false)
      this.size = []
      this.activeColor = color
      /*this.getDetail.variants.filter((item) => {
        if (id === item.image_id) {
          this.size.push(item.size)
        }
      })
    }*/
  }
}
</script>