<template>
  <div>
    <v-header />

    <v-breadcrumbs title="Productos" />

    <section class="section-b-space ratio_asos">
      <div class="collection-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">

              <v-sidebar />
            </div>

            <div class="collection-content col">
              <div class="page-main-content">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="top-banner-wrapper">
                      <a href="#">
                        <img
                          :src='"@/assets/images/mega-menu/2.jpg"'
                          class="img-fluid"
                          alt
                        />
                      </a>
                      <!--<div class="top-banner-content small-section">
                        <h4>fashion</h4>
                        <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                      </div>-->
                    </div>
                    <!--<ul class="product-filter-tags">
                      <li
                        class="mr-1"
                        v-for="(tag,index) in allfilters"
                        :key="index">
                        <a href="javascript:void(0)" class="filter_tag">
                          {{tag}}<i class="ti-close" @click="removeTags(tag)"></i>
                        </a>
                      </li>
                      <li class="clear_filter" v-if="allfilters.length > 0">
                        <a href="javascript:void(0)" class="clear_filter" @click="removeAllTags()">Limpiar</a>
                      </li>
                    </ul>-->
                    <div class="collection-product-wrapper">
                      <div class="product-top-filter">
                        <div class="row">
                          <div class="col-12">
                            <div class="product-filter-content">
                              <div class="search-count">
                                <h5>Mostrando {{ productslist.length }} productos</h5> <!-- filterProduct -->
                              </div>
                              <div class="collection-view">
                                <ul>
                                  <li @click="gridView()">
                                    <i class="fa fa-th grid-layout-view"></i>
                                  </li>
                                  <li @click="listView()">
                                    <i class="fa fa-list-ul list-layout-view"></i>
                                  </li>
                                </ul>
                              </div>
                              <div class="collection-grid-view">
                                <ul>
                                  <li>
                                    <img
                                      :src='"@/assets/images/icon/2.png"'
                                      @click="grid2()"
                                      class="product-2-layout-view"
                                    />
                                  </li>
                                  <li>
                                    <img
                                      :src='"@/assets/images/icon/3.png"'
                                      @click="grid3()"
                                      class="product-3-layout-view"
                                    />
                                  </li>
                                  <li>
                                    <img
                                      :src='"@/assets/images/icon/4.png"'
                                      @click="grid4()"
                                      class="product-4-layout-view"
                                    />
                                  </li>
                                  <li>
                                    <img
                                      :src='"@/assets/images/icon/6.png"'
                                      @click="grid6()"
                                      class="product-6-layout-view"
                                    />
                                  </li>
                                </ul>
                              </div>
                              <div class="product-page-filter">
                                <select @change="onChangeSort($event)">
                                  <option value="all">Ordenar</option>
                                  <option value="a-z">Orden ascendente, A-Z</option>
                                  <option value="z-a">Orden descendente, Z-A</option>
                                  <option value="low">Por precio, del menor al mayor</option>
                                  <option value="high">Por precio, del mayor al menor</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="product-wrapper-grid" :class="{'list-view':listview == true}">
                        <div class="row">

                          <div v-if="loading" class="col-12 text-center">
                            <div class="spinner-box"><i></i></div>
                          </div>

                          <div class="col-sm-12">
                            <div class="text-center section-t-space section-b-space" v-if="productslist.length == 0 && loading == false"> <!-- filterProduct -->
                              <img :src='"@/assets/images/empty-search.jpg"' class="img-fluid" alt />
                              <h3 class="mt-3">Ups! No se pudo encontrar el producto que buscaba!!!</h3>
                              <div class="col-12 mt-3">
                                  <nuxt-link :to="{ path: '/'}" class="btn btn-solid">seguir comprando</nuxt-link>
                              </div>
                            </div>
                          </div>
                          <div
                            class="col-grid-box"
                            :class="{'col-lg-3 col-md-4 col-sm-6':col4 == true, 'col-lg-4 col-sm-6':col3 == true, 'col-sm-6':col2 == true, 'col-lg-2 col-md-4 col-sm-6':col6 == true, 'col-lg-12':listview == true}"
                            v-for="(product,index) in productslist"
                            :key="index"
                            v-show="setPaginate(index)"
                            >
                            <div class="product-box">
                              <v-product-box
                                @opencartmodel="showCart"
                                @showCompareModal="showCoampre"
                                @openquickview="showQuickview"
                                @showalert="alert"
                                @alertseconds="alert"
                                :product="product"
                                :index="index"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="product-pagination mb-0" v-if="productslist.length > this.paginate"><!-- filterProduct -->
                        <div class="theme-paggination-block">
                          <div class="row">
                            <div class="col-xl-6 col-md-6 col-sm-12">
                              <nav aria-label="Page navigation">
                                <ul class="pagination">
                                  <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)" @click="updatePaginate(current-1)">
                                      <span aria-hidden="true">
                                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                      </span>
                                    </a>
                                  </li>
                                  <li class="page-item" v-for="(page_index, index) in this.pages" :key="index" :class="{'active': page_index == current}">
                                    <a
                                      class="page-link"
                                      href="javascrip:void(0)"
                                      @click.prevent="updatePaginate(page_index)"
                                    >{{ page_index }}</a>
                                  </li>
                                  <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)" @click="updatePaginate(current+1)">
                                      <span aria-hidden="true">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                      </span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                            </div>
                            <div class="col-xl-6 col-md-6 col-sm-12">
                              <div class="product-search-count-bottom">
                                <h5>Mostrando 1-12 of {{ productslist.length }} productos</h5> <!-- filterProduct -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <b-alert
      :show="dismissCountDown"
      variant="success"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="alert"
    >
      <p>Producto agregado a favoritos.</p>
    </b-alert>

    <v-quickview-model :openModal="showquickviewmodel" :productData="quickviewproduct" />
    
    <v-compare-model :openCompare="showcomparemodal" :productData="comapreproduct" @closeCompare="closeCompareModal" />
    
    <v-cart-right-model :openCart="showcartmodal" @closeCart="closeCart" />

    <v-footer />

  </div>
</template>

<script>

import axios from "axios";
import Config from "../../data/config.json";

const state = {
  api: Config.config.api
}

import { mapState, mapGetters, mapActions } from 'vuex'
import productBox6 from '../../components/product-box/product-box6'
import Header from '../../components/header/header'
import Footer from '../../components/footer/footer'
import Breadcrumbs from '../../components/widgets/breadcrumbs'
import sidebar from '../../components/widgets/sidebar'
import quickviewModel from '../../components/widgets/quickview'
import compareModel from '../../components/widgets/compare-popup'
import cartRightModel from '../../components/cart-model/cart-right-model'

export default {
  components: {
    'v-header': Header,
    'v-footer': Footer,
    'v-breadcrumbs': Breadcrumbs,
    'v-product-box': productBox6,
    'v-sidebar': sidebar,
    'v-quickview-model': quickviewModel,
    'v-compare-model': compareModel,
    'v-cart-right-model': cartRightModel,
  },

  data() {
    return {
      loading: false,
      col2: false,
      col3: true,
      col4: false,
      col6: false,
      listview: false,
      priceArray: [],
      allfilters: [],
      items: [],
      current: 1,
      paginate: 12,
      paginateRange: 3,
      //products: [],
      pages: [],
      paginates: '',
      showquickviewmodel: false,
      showcomparemodal: false,
      showcartmodal: false,
      quickviewproduct: {},
      comapreproduct: {},
      cartproduct: {},
      dismissSecs: 5,
      dismissCountDown: 0,
      swiperOption: {
        loop: false,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      }
    }
  },


  computed: {

    ...mapState({
      productslist: state => state.products.productslist,
      currency: state => state.products.currency
    }),

    ...mapGetters({
      products: 'products/products',
      filterProducts: 'products/productsList',
      tags: 'filter/setTags',
      curr: 'products/changeCurrency'
    })

  },

  mounted() {
    //this.loadData();
    //this.scroll(this.products);
    this.getProducts()
    this.updatePaginate(1)
  },

  methods: {

    ...mapActions({
      getProducts: 'products/all',
    }),

    scroll (person) {
      window.onscroll = () => {
        let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;
        if (bottomOfWindow) {
         /* axios.get(`https://randomuser.me/api/`)
            .then(response => {
              person.push(response.data.results[0]);
            });*/
        }
      };
    },

    getCategoryProduct(collection) {
      /*return this.productslist.filter((item) => {
        if (item.collection.find(i => i === collection)) {
          return item
        }
      })*/
    },

    onChangeSort(e) {
      this.$store.dispatch('products/sortProducts', e.target.value)
    },

    gridView() {
      this.col4 = true
      this.col2 = false
      this.col3 = false
      this.col6 = false
      this.listview = false
    },

    listView() {
      this.listview = true
      this.col4 = false
      this.col2 = false
      this.col3 = false
      this.col6 = false
    },

    grid2() {
      this.col2 = true
      this.col3 = false
      this.col4 = false
      this.col6 = false
      this.listview = false
    },

    grid3() {
      this.col3 = true
      this.col2 = false
      this.col4 = false
      this.col6 = false
      this.listview = false
    },

    grid4() {
      this.col4 = true
      this.col2 = false
      this.col3 = false
      this.col6 = false
      this.listview = false
    },
    
    grid6() {
      this.col6 = true
      this.col2 = false
      this.col3 = false
      this.col4 = false
      this.listview = false
    },

    removeTags(val) {
      this.allfilters.splice(this.allfilters.indexOf(val), 1)
    },

    removeAllTags() {
      this.allfilters.splice(0, this.allfilters.length)
    },

    getCategoryFilter() {
      this.updatePaginate(1)
      this.$store.dispatch('filter/getCategoryFilter', 'all')
    },

    allfilter(selectedVal) {
      this.allfilters = selectedVal
      this.$store.dispatch('filter/setTags', selectedVal)
      this.getPaginate()
      this.updatePaginate(1)
    },

    pricefilterArray(item) {
      this.getCategoryFilter()
      this.$store.dispatch('filter/priceFilter', item)
      this.getPaginate()
      this.updatePaginate(1)
    },

    getPaginate() {
      this.paginates = Math.round(this.productslist.length / this.paginate)
      this.pages = []
      for (let i = 0; i < this.paginates; i++) {
        this.pages.push(i + 1)
      }
    },

    setPaginate(i) {
      if (this.current === 1) {
        return i < this.paginate
      } else {
        return (i >= (this.paginate * (this.current - 1)) && i < (this.current * this.paginate))
      }
    },

    updatePaginate(i) {
      this.current = i
      let start = 0
      let end = 0
      if (this.current < this.paginateRange - 1) {
        start = 1
        end = start + this.paginateRange - 1
      } else {
        start = this.current - 1
        end = this.current + 1
      }
      if (start < 1) {
        start = 1
      }
      if (end > this.paginates) {
        end = this.paginates
      }
      this.pages = []
      for (let i = start; i <= end; i++) {
        this.pages.push(i)
      }
      return this.pages
    },

    alert(item) {
      this.dismissCountDown = item
    },

    showQuickview(item, productData) {
      this.showquickviewmodel = item
      this.quickviewproduct = productData
    },

    showCoampre(item, productData) {
      this.showcomparemodal = item
      this.comapreproduct = productData
    },

    closeCompareModal(item) {
      this.showcomparemodal = item
    },

    showCart(item, productData) {
      this.showcartmodal = item
      this.cartproduct = productData
    },

    closeCart(item) {
      this.showcartmodal = item
    }
  }
}
</script>
