.top-header {
    background-color: #333;

    a{
        color: #999999;
        &:hover {
            color: #ffffff;
        }
    }

    .onhover-dropdown:hover .onhover-show-div {
        box-shadow: 0px 0px 15px #00000033;
    }
    .header-dropdown .onhover-dropdown .onhover-show-div li {
        padding-bottom: 15px;
    }

    li.social {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.btn, .add-button {
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.btn-primary {
    color: #fff;
    background-color: var(--theme-deafult);
    border-color: var(--theme-deafult);
    &:hover, &:focus, &:active {
        background-color:  var(--theme-gradient2);
        border-color:  var(--theme-gradient2);
    }
}

.btn-outline-primary:not(:disabled):not(.disabled).active {
    background-color: var(--theme-deafult);
    border-color: var(--theme-deafult);
    color:  #fff;
    &:hover, &:focus, &:active {
        background-color:  var(--theme-gradient2);
        border-color:  var(--theme-gradient2);
        color: #fff
    }
}

.btn-outline-primary {
    color: var(--theme-deafult);
    border-color: var(--theme-deafult);
    &.btn-outline-primary:hover {
        color: #fff;
        background-color: var(--theme-deafult);
        border-color: var(--theme-deafult);
    }
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0.2rem rgba(138,47,45, 0.5) !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: var(--theme-deafult);
}
::-moz-placeholder { /* Firefox 19+ */
color: var(--theme-deafult);
}
:-ms-input-placeholder { /* IE 10+ */
color: var(--theme-deafult);
}
:-moz-placeholder { /* Firefox 18- */
color: var(--theme-deafult);
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: var(--theme-deafult);
    background-color: var(--theme-deafult);
}


.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--theme-gradient2);
    border-color: var(--theme-gradient2);
}

.overlay {
    position: absolute; /* Sit on top of the page content */
    //display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    opacity: 0;
    z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    transition: all 0.5s;
}

.smn-collection-banner {
    .row {
        a.link {

            box-shadow: 0 .5rem 1rem rgba(0,0,0,.1)!important;
            background-color: #fff;

            .collection-banner h4 {
                color: #000;
                z-index: 2;
            }

            &:hover {
                .collection-banner {
                    .overlay {
                        display: block;
                        opacity: 1;
                    }
                    h4 {
                        //color: #fff;
                    }
                }
            }
        }

        > div {
            &:nth-child(-n + 3) {
                margin-bottom: 30px;
            }
        }
    }
}

.swal2-popup {
    font-size: .8rem !important;
}

.sticky {
  position: fixed;
  top: 5px;
  width: 100%
}

.swiper-button-prev {
    position: relative;
    top: -300px;
    left: 60px !important;
}
.swiper-button-next {
    position: relative;
    top: -320px;
    left: 1280px;
    z-index: 1;
}

.dark-light-btn {
    .dark-light {
        z-index:9;
    }
}


div#navbar-top-sticky.sticky {
    z-index: 999;
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    top: 0;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}


@media(max-width: 767px) {
    .smn-collection-banner {
      .row {
        > div{
          &:nth-child(-n + 3)  {
            margin-bottom: 0;
          }
        }
      }
    }
}


.spinner-box {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    i {
        display: block;
        width: 50px;
        height: 50px;
        border: 3px solid var(--theme-deafult);
        border-top: 3px solid transparent;
        border-radius: 50%;
        animation: spin .5s linear 0s infinite;
    }
}

@keyframes spin {
    from {
      transform: rotate(0);
    }
    to{
      transform: rotate(359deg);
    }
  }

.product-box .cart-info.cart-wrap,
.product-box .cart-wrap.cart-wrap{
    top:0;
    bottom: auto;
}

.product-box {

    .cart-info a i{
        transition: all 0.3s ease;
        border-radius: 100px;
        top:0;
        bottom: auto;
    }

    .cart-info a:hover i{
        background-color:  var(--theme-deafult);
        color:#fff
    }

    .addtocart_btn {

        text-align: center;

        .add-button.add_cart {
            background-color: #efefef;
            color: black;
            text-align: center;
            font-size: 18px;
            text-transform: capitalize;
            width: 100%;
            padding: 5px 0;
            transition: all 0.3s ease;
            border: none;
            cursor: pointer;
            &:hover {
                background-color: var(--theme-deafult);
                color:#fff
            }
        }
    }
}

.product-box .img-wrapper .lable-block .lable4, .product-wrap .img-wrapper .lable-block .lable4 {
    position: absolute;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    top: 7px;
    right: auto;
    left: 7px;
    letter-spacing: 0.1em;
    z-index: 1;
    background-color: var(--theme-deafult);
}

.offer {
    background-color: var(--theme-deafult);
    box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, 0.09);
    color: #FFFFFF;
    font-size: 15px;
    height: 30px;
    line-height: 2.2;
    position: absolute;
    left: -29px;
    text-align: center;
    top: 10px;
    transform: rotate(-45deg);
    width: 110px;
}

.collection-product-wrapper .product-wrapper-grid .product-box {
    margin-top: 50px;
    margin-bottom: 30px;
}

.product-box .product-detail {
    min-height: 100px;
}

.addtocart_count .product-box .cart-info {
    top: 0px;
    bottom: auto;
    right: 10px;
}

/* Main Slider */
.home-slider .slider-contain {
    h4, h1 {
        color: #fff;
    }
}

/* .category-grid */
.category-grid  {
    position: relative;
    overflow: hidden;
    .logo-bg {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        svg {
            -webkit-transform: rotate(-13deg);
            transform: rotate(-13deg);
        }
}
}


/* Borde de la vista rápida de los productos*/
.modal-content {
    padding: 3px;
    background-image: none;
    background-size: 36.77px 36.77px;
    background-color: var(--theme-deafult);
}


/* BARRA LATERAL DEL CARRITO */

.add_to_cart.right {
    right: -400px;
    height: 100vh;
    width: 400px;
    top: 0;
}

.main-menu .menu-right .icon-nav .onhover-div .show-div.shopping-cart {
    padding: 15px 10px;
    min-width: 350px;
    left: unset;
    right: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    max-height: 450px;
    overflow: auto;
}

/* SIDEBAR EN PRODUCTOS */
.collection-collapse-block .collection-collapse-block-content .collection-brand-filter {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 30px;
}



#lightbox {
    position: fixed; /* keeps the lightbox window in the current viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    z-index: 1000;

    display: flex;
    align-items: center;

    #content {
        margin: 0 auto;
        span {
            display: none;
        }
    }


    i {
        text-align: right;
        right: 40px;
        top: 50px;
        width: 30px;
        height: 30px;
        position: absolute;
        font-size: 30px;
        color: rgb(255, 255, 255);
    }

    p {
        text-align:right;
        color:#fff;
        margin-right:20px;
        font-size:12px;
    }
    img {
        box-shadow:0 0 25px #111;
        -webkit-box-shadow:0 0 25px #111;
        -moz-box-shadow:0 0 25px #111;
        max-width: 1000px;
        width: 80%;
    }
}

/* checkout */
.checkout-page .checkout-form .checkout-details {
    position: relative;
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    padding: 40px 15px ;
}

.order-box .qty li span {
    float: right;
    font-size: 16px;
    line-height: 20px;
    color: #232323;
    font-weight: 400;
    width: 35%;
}
.order-box .sub-total li .count {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    color: var(--theme-deafult);
    font-weight: 600;
    width: 35%;
    float: right;
}

.custom-control-label {
    margin-bottom: 0.5rem !important;
}

.color {
    color: var(--theme-deafult);
}

.size-15 {font-size: 15px;}
.size-16 {font-size: 16px;}
.size-18 {font-size: 18px;}
.size-20 {font-size: 20px;}
.size-22 {font-size: 22px;}
.size-25 {font-size: 25px;}
.size-30 {font-size: 30px;}
.size-35 {font-size: 35px;}
.size-40 {font-size: 40px;}


.tap-top.top-cls {
    bottom: 20px;
}



.sidebar-menu {
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--theme-deafult);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}


.swal2-title {

    font-size: 14px;

}

.img-product-zoom {
    font-size: 25px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #8c8c8c;
    cursor: pointer;
}


.product-pagination .pagination .page-item.active a {
    color: #ffffff !important;
    background-color: #ad4544;
    border-color: #dddddd;
    font-weight: 600;
}
