<template>
  <div>
    <v-header />

    <v-breadcrumbs
      v-if="category != ''"
      :title="category.title"
      :levels="breadcrumbs"
    />

    <section class="section-b-space ratio_asos">
      <div class="collection-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-lg-3">

              <v-sidebar
                :showPrices="false"
                @priceVal="pricefilterArray"
                @categoryChange="changeProductsByCategory"
                :sideBanner="category.side_banner"
              />
            </div>

            <div class="collection-content col" >
              <div class="page-main-content">
                <div class="row">
                  <div class="col-sm-12">
                    <div id="banner" class="top-banner-wrapper">
                      <a href="javascript:void(0)">
                        <img
                          v-if="category.main_banner != ''"
                          :src="category.main_banner"
                          class="img-fluid"
                          alt
                        />
                      </a>
                    </div>                    
                    <div v-if="loadingProducts === true" class="col-12 text-center">
                      <div class="spinner-box"><i></i></div>
                    </div>
                    <div class="collection-product-wrapper" v-else>
                      <div class="product-top-filter">
                        <div class="row">
                          <div class="col-12">
                            <div class="product-filter-content">                              
                              <div class="collection-view">
                                <ul>
                                  <li @click="gridView()">
                                    <i class="fa fa-th grid-layout-view"></i>
                                  </li>
                                  <li @click="listView()">
                                    <i class="fa fa-list-ul list-layout-view"></i>
                                  </li>
                                </ul>
                              </div>
                              <div class="collection-grid-view">
                                <ul>
                                  <li>
                                    <img
                                      :src='"@/assets/images/icon/2.png"'
                                      @click="grid2()"
                                      class="product-2-layout-view"
                                    />
                                  </li>
                                  <li>
                                    <img
                                      :src='"@/assets/images/icon/3.png"'
                                      @click="grid3()"
                                      class="product-3-layout-view"
                                    />
                                  </li>
                                  <li>
                                    <img
                                      :src='"@/assets/images/icon/4.png"'
                                      @click="grid4()"
                                      class="product-4-layout-view"
                                    />
                                  </li>
                                  <li>
                                    <img
                                      :src='"@/assets/images/icon/6.png"'
                                      @click="grid6()"
                                      class="product-6-layout-view"
                                    />
                                  </li>
                                </ul>
                              </div>
                              <!--<div class="product-page-filter">
                                <select @change="onChangeSort($event)">
                                  <option value="all">Ordenar</option>
                                  <option value="a-z">Orden ascendente, A-Z</option>
                                  <option value="z-a">Orden descendente, Z-A</option>
                                  <option value="low">Por precio, del menor al mayor</option>
                                  <option value="high">Por precio, del mayor al menor</option>
                                </select>
                              </div>-->
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- PAGINATION -->
                      <div class="product-pagination m-0" style="border-top: none"><!-- filterProduct -->
                        <div class="theme-paggination-block">
                          <div class="row">
                            <div class="col-xl-8 col-md-8 col-sm-12">
                              <nav aria-label="Page navigation">
                                <ul class="pagination">
                                  <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)" @click="updatePaginate(current-1)">
                                      <span aria-hidden="true">
                                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                      </span>
                                    </a>
                                  </li>
                                  <li class="page-item" v-for="(page_index, index) in this.pages" :key="index" :class="{'active': page_index == current}">
                                    <a
                                      class="page-link"
                                      href="javascript:void(0)"
                                      @click.prevent="updatePaginate(page_index)"
                                    >{{ page_index }}</a>
                                  </li>
                                  <li class="page-item">
                                    <a class="page-link" href="javascript:void(0)" @click="updatePaginate(current+1)">
                                      <span aria-hidden="true">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                      </span>
                                    </a>
                                  </li>
                                </ul>
                              </nav>
                            </div>
                            <div class="col-xl-4 col-md-4 col-sm-12">
                              <div class="product-search-count-bottom" style="border-left: none">
                                <h5>Página {{ current }}/{{ paginates }} - {{ productsList.length }} productos</h5> <!-- filterProduct -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="product-wrapper-grid" :class="{'list-view':listview == true}">
                        <div class="row">
                      
                          <div class="col-sm-12">
                            <div class="text-center section-t-space section-b-space" v-if="productsList.length == 0"> <!-- filterProduct -->
                              <img :src='"@/assets/images/empty-search.jpg"' class="img-fluid" alt />
                              <h3 class="mt-3">Ups! No se pudo encontrar el producto que buscaba!!!</h3>
                              <div class="col-12 mt-3">
                                  <nuxt-link :to="{ path: '/'}" class="btn btn-solid">seguir comprando</nuxt-link>
                              </div>
                            </div>
                          </div>
                          
                          <div
                            class="col-grid-box"
                            :class="{'col-lg-3 col-md-4 col-sm-6':col4 == true, 'col-lg-4 col-sm-6':col3 == true, 'col-sm-6':col2 == true, 'col-lg-2 col-md-4 col-sm-6':col6 == true, 'col-lg-12':listview == true}"
                            v-for="(product,index) in productsList"
                            :key="index"
                            v-show="setPaginate(index)"
                            >
                            <div class="product-box">
                              <v-product-box
                                @opencartmodel="showCart"
                                @showCompareModal="showCoampre"
                                @openquickview="showQuickview"
                                @showalert="alert"
                                @alertseconds="alert"
                                :product="product"
                                :index="index"
                              />
                            </div>
                          </div>
                        </div>
                      </div>

                
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <b-alert
      :show="dismissCountDown"
      variant="success"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="alert"
    >
      <p>Producto agregado a la lista de favoritos.</p>
    </b-alert>

    <v-quickview-model :openModal="showquickviewmodel" :productData="quickviewproduct" />

    <v-cart-right-model :openCart="showcartmodal" @closeCart="closeCart" />

    <v-footer />

  </div>
</template>

<script>

import Config from "../../data/config.json";

const state = {
  api: Config.config.api
}

import { mapState, mapGetters, mapActions } from 'vuex'
import productBox6 from '../../components/product-box/product-box6'
import Header from '../../components/header/header'
import Footer from '../../components/footer/footer'
import Breadcrumbs from '../../components/widgets/breadcrumbs'
import sidebar from '../../components/widgets/sidebar'
import quickviewModel from '../../components/widgets/quickview'
import cartRightModel from '../../components/cart-model/cart-right-model'

export default {
  components: {
    'v-header': Header,
    'v-footer': Footer,
    'v-breadcrumbs': Breadcrumbs,
    'v-product-box': productBox6,
    'v-sidebar': sidebar,
    'v-quickview-model': quickviewModel,
    //'v-compare-mode': compareModel,
    'v-cart-right-model': cartRightModel,
  },

  data() {
    return {
      category: '',
      breadcrumbs: [
        //{title: 'Categorías', url: '/prod'}
      ],

      loading: false,
      //category: false,
      //products: [],

      col2: false,
      col3: true,
      col4: false,
      col6: false,
      listview: false,
      priceArray: [],
      allfilters: [],
      items: [],
      current: 1,
      paginate: 9,
      paginateRange: 10,
      pages: [],
      paginates: '',
      showquickviewmodel: false,
      showcomparemodal: false,
      showcartmodal: false,
      quickviewproduct: {},
      comapreproduct: {},
      cartproduct: {},
      dismissSecs: 5,
      dismissCountDown: 0,
      swiperOption: {
        loop: false,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        }
      }
    }
  },

  computed: {

    ...mapState({
      currency: state => state.products.currency
    }),

    ...mapGetters({
      filterProduct: 'filter/filterProducts',
      loadingProducts: 'products/loadingProductsByCategory',      
      //category: 'products/currentCategory',
      productsList: 'products/productsByCategory',
      getByslug: 'categories/getByslug',

      tags: 'filter/setTags',
      curr: 'products/changeCurrency',
    })

  },

  created() {
    this.loading = true
    this.getAllCategories()    

    this.breadcrumbs = [
      {title: 'Categorías', url: '/categrias'},
    ]

    this.category = this.getByslug(this.$route.params.slug)
  },

  mounted() {
    this.updatePaginate(1);    
     //this.getProducts().then( r => this.productsByCategory(this.$route.params.slug) )

    this.productsByCategory(this.$route.params.slug).then( () => this.getPaginate() )
  },

  methods: {
    ...mapActions({
      getAllCategories: 'products/getAllCategories',
      productsByCategory: 'products/productsByCategory',
      getProducts: 'products/all',
    }),

    changeProductsByCategory(slug){
      this.category = this.getByslug(slug)
      //this.productsByCategory(slug).then( () => this.getPaginate() )
    },

    getCategoryProduct(collection) {
      /*return this.productsList.filter((item) => {
        if (item.collection.find(i => i === collection)) {
          return item
        }
      })*/
    },

    discountedPrice(product) {
      const price = product.price - (product.price * product.discount / 100)
      return price
    },

    onChangeSort(event) {
      this.$store.dispatch('products/sortProducts', event.target.value)
    },

    gridView() {
      this.col4 = true
      this.col2 = false
      this.col3 = false
      this.col6 = false
      this.listview = false
    },

    listView() {
      this.listview = true
      this.col4 = false
      this.col2 = false
      this.col3 = false
      this.col6 = false
    },

    grid2() {
      this.col2 = true
      this.col3 = false
      this.col4 = false
      this.col6 = false
      this.listview = false
    },

    grid3() {
      this.col3 = true
      this.col2 = false
      this.col4 = false
      this.col6 = false
      this.listview = false
    },

    grid4() {
      this.col4 = true
      this.col2 = false
      this.col3 = false
      this.col6 = false
      this.listview = false
    },

    grid6() {
      this.col6 = true
      this.col2 = false
      this.col3 = false
      this.col4 = false
      this.listview = false
    },

    /*removeTags(val) {
      this.allfilters.splice(this.allfilters.indexOf(val), 1)
    },

    removeAllTags() {
      this.allfilters.splice(0, this.allfilters.length)
    },*/

    /*getCategoryFilter() {
      this.updatePaginate(1)
      this.$store.dispatch('filter/getCategoryFilter', 'all')
    },*/

    allfilter(selectedVal) {
      this.allfilters = selectedVal
      this.$store.dispatch('filter/setTags', selectedVal)
      this.getPaginate()
      this.updatePaginate(1)
    },

    pricefilterArray(item) {
      /*this.getCategoryFilter()
      this.$store.dispatch('filter/priceFilter', item)
      this.getPaginate()
      this.updatePaginate(1)*/
    },

    getPaginate() {
      this.paginates = Math.round(this.productsList.length / this.paginate) ///////////
      this.pages = []
      for (let i = 0; i < this.paginates; i++) {
        this.pages.push(i + 1)
      }
    },

    setPaginate(i) {
      if (this.current === 1) {
        return i < this.paginate
      } else {
        return (i >= (this.paginate * (this.current - 1)) && i < (this.current * this.paginate))
      }
    },

    updatePaginate(i) {

      if( i < 1 )  return

      if( i > this.paginates)  return  

      this.current = i
      let start = 0
      let end = 0

      if (this.current < this.paginateRange - 1) {
        start = 1
        end = start + this.paginateRange - 1
      } else {
        start = this.current - 1
        end = this.current + 1
      }

      if (start < 1) {
        start = 1
      }
      if (end > this.paginates) {
        end = this.paginates
      }

      this.pages = []
      for (let i = start; i <= end; i++) {
        this.pages.push(i)
      }

      window.scrollTo(0, 350);

      return this.pages
    },

    alert(item) {
      this.dismissCountDown = item
    },

    showQuickview(item, productData) {
      this.showquickviewmodel = item
      this.quickviewproduct = productData
    },

    showCoampre(item, productData) {
      this.showcomparemodal = item
      this.comapreproduct = productData
    },

    closeCompareModal(item) {
      this.showcomparemodal = item
    },

    showCart(item, productData) {
      this.showcartmodal = item
      this.cartproduct = productData
    },

    closeCart(item) {
      this.showcartmodal = item
    }
  }
}
</script>
