<template>
  <div>
    <v-header />

    <v-breadcrumbs title="Categorías" />

    <section class="section-b-space ratio_portrait">
      <div class="container">

        <v-heading
          title="Categorías"
          subtitle="Conoce nuestras"/>
        
        <div class="row">
          <div class="col-md-4 mt-4 mb-2" v-for="(item, index) in categories" :key="index">         
            <div class="category-m">           
              <div class="category-wrapper">
                <div>
                  <div>
                    <img
                      v-if="item.picture"
                      :src="item.picture.url"
                      class="img-fluid bg-img"
                      alt
                    />
                  </div>
                  <h4>{{item.title}}</h4>
                  <div v-html="item.description">
                  </div>
                  <nuxt-link :to="{path: '/categorias/' + item.slug }" class="btn btn-outline">Ver prodctos</nuxt-link>
                </div>
              </div>          
            </div>          
          </div>
        </div>
      </div>
    </section>

    <v-banner />

    <v-product-slider 
      title="Ofertas Especiales"
      subtitle="No te las puedes perder"
      :products="productsOffers"
      @openQuickview="showQuickview"
      @openCompare="showCoampre"
      @openCart="showCart"
    />

    <v-cart-right-model :openCart="showcartmodal" @closeCart="closeCart" />

    <v-footer />

  </div>
</template>

<script>

import { mapState, mapGetters, mapActions } from 'vuex'
import Header from '../../components/header/header'
import Footer from '../../components/footer/footer'
import Breadcrumbs from '../../components/widgets/breadcrumbs'
import sidebar from '../../components/widgets/collection-sidebar'
import cartRightModel from '../../components/cart-model/cart-right-model'
import ProductSlider from '../shop/steakmarket/components/product-slider'
import Banner from '../shop/steakmarket/components/banner'
import Heading from '../shop/steakmarket/components/heading'

export default {
  components: {
    'v-header': Header,
    'v-footer': Footer,
    'v-breadcrumbs': Breadcrumbs,
    'v-sidebar': sidebar,
    'v-cart-right-model': cartRightModel,
    'v-product-slider': ProductSlider,
    'v-banner': Banner,
    'v-heading': Heading
  },

  data() {
    return {
      listview: false,
      priceArray: [],
      allfilters: [],
      items: [],
      current: 1,
      paginate: 12,
      paginateRange: 3,
      //products: [],
      pages: [],
      paginates: '',
      showquickviewmodel: false,
      showcomparemodal: false,
      showcartmodal: false,
      quickviewproduct: {},
      comapreproduct: {},
      cartproduct: {},
      dismissSecs: 5,
      dismissCountDown: 0,
      swiperOption: {
        loop: true,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        slidesPerView: 4,
        freeMode: true,
        breakpoints: {
          1200: {
            slidesPerView: 3,
            spaceBetween: 20
          },
          991: {
            slidesPerView: 2,
            spaceBetween: 20
          },
          586: {
            slidesPerView: 1,
            spaceBetween: 20
          }
        }
      },

    }
  },


  computed: {

    ...mapState({
      productslist: state => state.products.productslist,
      currency: state => state.products.currency
    }),

    ...mapGetters({
      productsOffers: 'products/productsOffers',
      categories: 'categories/data',
      filterProduct: 'filter/filterProducts',
      curr: 'products/changeCurrency'
    })

  },

  mounted() {
    this.getProductsOffers()
    this.getCategories();
    this.updatePaginate(1)
  },

  methods: {

    ...mapActions({
      getCategories: 'categories/all',
      getProductsOffers: 'products/getProductsOffers',
    }),

    /*loadData () {
      let vm = this;
      axios.get( `${state.api}store/products` ).then(response => {        
        vm.products = response.data.data;
      });
    },*/

    getCategoryProduct(collection) {
      /*return this.productslist.filter((item) => {
        if (item.collection.find(i => i === collection)) {
          return item
        }
      })*/
    },

    discountedPrice(product) {
      const price = product.price - (product.price * product.discount / 100)
      return price
    },

    onChangeSort(event) {
      this.$store.dispatch('filter/sortProducts', event.target.value)
    },

    gridView() {
      this.col4 = true
      this.col2 = false
      this.col3 = false
      this.col6 = false
      this.listview = false
    },

    listView() {
      this.listview = true
      this.col4 = false
      this.col2 = false
      this.col3 = false
      this.col6 = false
    },

    grid2() {
      this.col2 = true
      this.col3 = false
      this.col4 = false
      this.col6 = false
      this.listview = false
    },

    grid3() {
      this.col3 = true
      this.col2 = false
      this.col4 = false
      this.col6 = false
      this.listview = false
    },

    grid4() {
      this.col4 = true
      this.col2 = false
      this.col3 = false
      this.col6 = false
      this.listview = false
    },
    
    grid6() {
      this.col6 = true
      this.col2 = false
      this.col3 = false
      this.col4 = false
      this.listview = false
    },

    removeTags(val) {
      this.allfilters.splice(this.allfilters.indexOf(val), 1)
    },

    removeAllTags() {
      this.allfilters.splice(0, this.allfilters.length)
    },

    getCategoryFilter() {
      this.updatePaginate(1)
      this.$store.dispatch('filter/getCategoryFilter', 'all')
    },

    allfilter(selectedVal) {
      this.allfilters = selectedVal
      //this.$store.dispatch('filter/setTags', selectedVal)
      this.getPaginate()
      this.updatePaginate(1)
    },

    pricefilterArray(item) {
      this.getCategoryFilter()
      this.$store.dispatch('filter/priceFilter', item)
      this.getPaginate()
      this.updatePaginate(1)
    },

    getPaginate() {
      this.paginates = Math.round(this.filterProduct.length / this.paginate)
      this.pages = []
      for (let i = 0; i < this.paginates; i++) {
        this.pages.push(i + 1)
      }
    },

    setPaginate(i) {
      if (this.current === 1) {
        return i < this.paginate
      } else {
        return (i >= (this.paginate * (this.current - 1)) && i < (this.current * this.paginate))
      }
    },

    updatePaginate(i) {
      this.current = i
      let start = 0
      let end = 0
      if (this.current < this.paginateRange - 1) {
        start = 1
        end = start + this.paginateRange - 1
      } else {
        start = this.current - 1
        end = this.current + 1
      }
      if (start < 1) {
        start = 1
      }
      if (end > this.paginates) {
        end = this.paginates
      }
      this.pages = []
      for (let i = start; i <= end; i++) {
        this.pages.push(i)
      }
      return this.pages
    },

    alert(item) {
      this.dismissCountDown = item
    },

    showQuickview(item, productData) {
      this.showquickviewmodel = item
      this.quickviewproduct = productData
    },

    showCoampre(item, productData) {
      this.showcomparemodal = item
      this.comapreproduct = productData
    },

    closeCompareModal(item) {
      this.showcomparemodal = item
    },

    showCart(item, productData) {
      this.showcartmodal = item
      this.cartproduct = productData
    },

    closeCart(item) {
      this.showcartmodal = item
    }
  }
}
</script>
