<template>
  <div>
    <div class="img-wrapper">
      <div class="lable-block">
        <span class="offer" v-if="product.offer">Oferta</span>
        <span class="lable4" v-if="product.sale">on sale</span>
      </div>
      <div class="front text-center">
        <nuxt-link :to="{ path: `${this.$config.slug.products}/${product.slug}` }">
          <img
            v-if="product.picture"
            :src='product.picture.url'
            :id="product.id"
            class="img-fluid bg-img"
            :alt="product.title"
            :key="index"
          />
        </nuxt-link>
      </div>
      <div class="cart-info cart-wrap">
        <!--<a href="javascript:void(0)" title="Favoritos">
          <i class="ti-heart" aria-hidden="true" @click="addToWishlist(product)"></i>
        </a>-->
        <a
          href="javascript:void(0)"
          title="Vista rápida"
          @click="showQuickview(product)"
          v-b-modal.modal-lg
          variant="primary"
        >
          <i class="ti-search" aria-hidden="true"></i>
        </a>
        <!--<a href="javascript:void(0)" title="Comprar" @click="addToCompare(product)" v-b-modal.modal-compare variant="primary">
          <i class="ti-reload" aria-hidden="true"></i>
        </a>-->
      </div>
    </div>
    <div class="product-detail text-center">
      <!--<div class="rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>-->
      <nuxt-link :to="{ path: `${this.$config.slug.products}/${product.slug}`}">
        <h6>{{ product.title }}</h6>
      </nuxt-link>
      <!--<p>{{ product.description }}</p>-->
      <h4 v-if="product.offer">
        {{ product.offer_price / currency.cost | currency(currency.symbol) }}<br/>
        <del>{{ product.price / currency.cost | currency(currency.symbol) }}</del>
      </h4>
      <h4 v-else>{{ product.price / currency.cost | currency(currency.symbol) }}</h4>
    </div>
    <div class="addtocart_btn">
      <button
        data-toggle="modal"
        data-target="#addtocart"
        class="btn btn-solid text-uppercase"
        styele="font-size: 14px; !important"
        @click="addToCart(product)"
      >
        Agregar
      </button>
    </div>
  </div>
</template>

<script>

import { mapState, mapGetters } from 'vuex'

export default {
  props: ['product', 'index'],
  data() {
    return {
      imageSrc: '',
      quickviewProduct: {},
      compareProduct: {},
      showquickview: false,
      showCompareModal: false,
      cartval: false,
      variants: {
        productId: '',
        image: ''
      },
      dismissSecs: 5,
      dismissCountDown: 0,
      currencies: []
    }
  },
  computed: {
    ...mapGetters({
      currency: 'currency/current'
    })
  },
  methods: {
    addToCart: function (product) {
      this.cartval = true
      this.$emit('opencartmodel', this.cartval)
      this.$store.dispatch('cart/addToCart', product)
    },

    addToWishlist: function (product) {
      this.dismissCountDown = this.dismissSecs
      this.$emit('showalert', this.dismissCountDown)
      this.$store.dispatch('products/addToWishlist', product)
    },

    showQuickview: function (productData) {
      this.showquickview = true
      this.quickviewProduct = productData
      this.$emit('openquickview', this.showquickview, this.quickviewProduct)
    },

    addToCompare: function (product) {
      this.showCompareModal = true
      this.compareProduct = product
      this.$emit('showCompareModal', this.showCompareModal, this.compareProduct)
      this.$store.dispatch('products/addToCompare', product)
    },

    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
      this.$emit('alertseconds', this.dismissCountDown)
    },

    discountedPrice(product) {
      const price = product.offer_price
      return price
    }
  }
}
</script>


<style lang="scss">

.btn-solid {
    padding: 7px 25px !important;
}
.product-box .addtocart_btn .add-button.add_cart {
  width: auto;
  padding: 5px 20px;
}
.product-box .addtocart_btn .add-button.add_cart {
    width: auto;
    font-size: 14px !important;
    padding: 5px 20px;
}
</style>