<template>
  <div>
    <footer class="footer-light">

      <!--<div class="light-layout">
        <div class="container">
          <section class="small-section border-section border-top-0">
            <div class="row">
              <div class="col-lg-6">
                <div class="subscribe">
                  <div>
                    <h4>SÉ EL PRIMERO EN ENTERARTE!</h4>
                    <p>No te pierdas nada de Steak Market Nautilus suscribiéndote a nuestro boletín.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <form
                  class="form-inline subscribe-form auth-form needs-validation"
                  method="post"
                  id="mc-embedded-subscribe-form"
                  name="mc-embedded-subscribe-form"
                  target="_blank"
                >
                  <div class="form-group mx-sm-3">
                    <input
                      type="text"
                      class="form-control"
                      name="EMAIL"
                      id="mce-EMAIL"
                      placeholder="Ingresa tu E-mail"
                      required="required"
                    />
                  </div>
                  <button type="submit" class="btn btn-solid" id="mc-submit">suscribete</button>
                </form>
              </div>
            </div>
          </section>
        </div>
      </div>-->

      <section class="section-b-space light-layout">
        <div class="container">
          <div class="row footer-theme partition-f">
            <div class="col-lg-4 col-md-6">
              <div class="footer-title footer-mobile-title">
                <h4>about</h4>
              </div>
              <div class="footer-contant">
                <div class="footer-logo">
                  <img src="https://api.steakmarketnautilus.com/assets/images/logo.png" alt="Steak Market Nautilus" class="img-fluid" style="max-width: 250px !important;" />
                </div>
                <div class="footer-social text-left">
                  <ul class="text-left" style="margin-left: 30px">
                    <li v-if="rrss.facebook" class="pl-4 pr-4">
                      <a :href="rrss.facebook" target="blank" rel="nofollow">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li v-if="rrss.twitter" class="pl-4 pr-4">
                      <a :href="rrss.twitter" target="blank" rel="nofollow">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li v-if="rrss.instagram" class="pl-4 pr-4">
                      <a :href="rrss.instagram" target="blank" rel="nofollow">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col offset-xl-1">
              <div class="sub-title">
                <div class="footer-title">
                  <h4>Categorías</h4>
                </div>
                <div class="footer-contant">
                  <ul v-if="categories">
                    <li v-for="(item,index) in categories.slice(0, 6)" :key="index">
                      <nuxt-link :to="{ path: '/categorias/'+item.slug }">{{ item.title }}</nuxt-link>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="sub-title">
                <div class="footer-title">
                  <h4>LINKS</h4>
                </div>
                <div class="footer-contant">
                  <ul>
                    <li>
                      <nuxt-link :to="{ path: '/nosotros'}">Nosotros</nuxt-link>
                    </li>
                    <li>
                      <nuxt-link :to="{ path: '/zonas-de-reparto'}">Zonas De Reparto</nuxt-link>
                    </li>
                    <li>
                      <nuxt-link :to="{ path: '/terminos-y-condiciones'}">Términos y condiciones</nuxt-link>
                    </li>
                    <li>
                      <nuxt-link :to="{ path: '/politicas-de-privacidad'}">Políticas de privacidad</nuxt-link>
                    </li>
                    <li>
                      <nuxt-link :to="{ path: '/mi-cuenta/dashboard'}">Mi cuenta</nuxt-link>
                    </li>
                    <li>
                      <nuxt-link :to="{ path: '/carrito'}">Carrito</nuxt-link>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="sub-title">
                <div class="footer-title">
                  <h4>ATENCIÓN AL CLIENTE</h4>
                </div>
                <div class="footer-contant">
                  <ul class="contact-list" v-if="contact">
                    <li>
                      <i class="fa fa-map-marker"></i>
                      <a :href="contact.maps" target="blank" v-text="contact.address"></a>
                    </li>
                    <li>
                      <i class="fa fa-phone"></i>
                      <a :href="'tel:+58' + contact.phone">{{ contact.phone | phone}} </a>
                    </li>
                    <li>
                      <i class="fa fa-envelope-o"></i>
                      <a :href="'mailto:' + contact.email" v-text="contact.email"></a>
                    </li>
                    <li>
                      <i class="fa fa-calendar"></i>
                      {{ contact.schedule }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="sub-footer">
        <div class="container">
          <div class="row">
            <div class="col-xl-12 col-md-12 col-sm-12">
              <div class="footer-end text-center">
                <p>
                  STEAK MARKET NAUTILUS<i class="fa fa-copyright" aria-hidden="true"></i> {{  (new Date()).getFullYear() }}
                </p>
              </div>
            </div>
            <div class="col-xl-6 col-md-6 col-sm-12">
              <div class="payment-card-bottom">
                <!--<ul>
                  <li>
                    <a href="#">
                      <img :src='"@/assets/images/icon/visa.png"' alt />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img :src='"@/assets/images/icon/mastercard.png"' alt />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img :src='"@/assets/images/icon/paypal.png"' alt />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img :src='"@/assets/images/icon/american-express.png"' alt />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img :src='"@/assets/images/icon/discover.png"' alt />
                    </a>
                  </li>
                </ul>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {

  computed:{
    ...mapGetters({
      contact: 'settings/contact',
      rrss: 'settings/rrss',
      categories: 'categories/roots',
    })
  },

  created() {
    this.getAllSettings()
    this.getCategoriesRoot()
  },

  methods: {
    ...mapActions({
      getAllSettings: 'settings/all',
      getCategoriesRoot: 'categories/getCategoriesRoot'
    }),
  },
}
</script>
<style lang="scss">
  .sub-footer {
    background-color: #333333;
    color: #fff
}
</style>
