<template>
  <div>


    



    <transition name="home" mode="out-in">
     
      <nuxt id="body-content"/>

    </transition>
    <!--  <div id="loader" class="center"></div> -->
    <layoutSetting/>
    <div class="tap-top top-cls" v-scroll-to="'#body-content'">
      <div>
          <i class="fa fa-angle-double-up"></i>
      </div>
    </div>



    <!-- <div id="toro" class="toro">
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 266.000000 222.000000">

          <g transform="translate(0.000000,222.000000) scale(0.100000,-0.100000)"
          fill="#000000" stroke="none">
          <path d="M1960 2024 c0 -3 16 -24 35 -47 41 -47 75 -132 75 -185 0 -77 -87
          -208 -164 -249 l-29 -15 53 -29 c29 -16 72 -45 96 -64 l44 -36 28 20 c72 51
          112 149 112 276 0 109 -20 172 -74 232 -50 55 -176 125 -176 97z"/>
          <path d="M675 1956 c-67 -31 -137 -108 -160 -175 -13 -41 -16 -76 -13 -154 5
          -120 27 -174 102 -246 l45 -45 63 31 c35 17 91 41 125 54 35 13 63 27 63 31 0
          4 -12 10 -27 14 -110 25 -218 152 -230 269 -6 61 22 136 76 197 49 56 38 63
          -44 24z"/>
          <path d="M1740 1485 c-275 -55 -558 -205 -745 -395 l-70 -71 0 -92 c1 -72 6
          -102 22 -139 12 -27 26 -48 32 -48 5 0 31 30 57 66 172 242 446 405 854 510
          74 19 137 37 140 40 16 16 -179 146 -214 143 -6 0 -40 -7 -76 -14z"/>
          <path d="M919 1396 c-110 -43 -209 -94 -209 -106 0 -20 189 -100 237 -100 15
          0 44 14 67 34 60 49 176 122 225 142 23 9 39 20 34 24 -4 4 -57 13 -118 20
          -60 6 -119 14 -130 16 -11 2 -58 -11 -106 -30z"/>
          <path d="M1985 1275 c-22 -13 -65 -34 -96 -45 l-57 -22 -7 -55 c-4 -30 -4 -57
          -1 -60 9 -10 90 25 134 57 39 30 82 99 82 133 0 22 -8 21 -55 -8z"/>
          <path d="M620 1209 c-17 -24 -29 -47 -27 -53 7 -22 118 -58 182 -58 60 0 125
          21 125 42 0 5 -26 16 -57 25 -31 9 -84 31 -117 48 -34 18 -64 33 -68 35 -4 2
          -21 -16 -38 -39z"/>
          <path d="M1610 1109 c-170 -97 -259 -160 -357 -252 -122 -116 -173 -220 -173
          -354 0 -78 16 -119 63 -160 34 -30 92 -51 104 -39 4 3 17 48 30 98 54 219 177
          377 375 484 72 39 73 39 85 94 7 30 15 88 19 128 5 58 4 72 -7 72 -8 0 -70
          -32 -139 -71z"/>
          <path d="M1521 626 c-47 -69 -98 -175 -116 -245 -20 -80 -17 -92 27 -82 77 18
          120 56 154 138 30 69 14 233 -21 233 -8 0 -28 -20 -44 -44z"/>
          </g>
      </svg>
    </div> -->


    


  </div>
</template>

<script>
import layoutSetting from '../components/widgets/layout-setting'
export default {
  scrollToTop: true,
  transition(to, from) {
    if (!from) {
      return 'home'
    }
  },

  head() {
    return {
      title: 'Steak Market Nautilus'
    }
  },
  components: {
    layoutSetting
  },
  
  mounted() {

      
    this.$nextTick(() => {
      this.$nuxt.$loading.start()
      setTimeout(() => this.$nuxt.$loading.finish(), 3000)

    })
  },
  methods:{


      // pre(){
      //    document.onreadystatechange = function() {
      //       if (document.readyState !== "complete") {
      //           document.querySelector(
      //             "body").style.visibility = "hidden";
      //           document.querySelector(
      //             "#loader").style.visibility = "visible";
      //           document.querySelector(
      //             "#toro").style.visibility = "visible";
      //       } else {
      //           document.querySelector(
      //             "#loader").style.display = "none";
      //           document.querySelector(
      //             "#toro").style.display = "none";
      //           document.querySelector(
      //             "body").style.visibility = "visible";
      //       }
      //   };
      // }
  }
};
</script>
<style>
  .home-enter-active, .home-leave-active { transition: opacity .3s; }
  .home-enter, .home-leave-active { opacity: 0; }




      .toro{
        
            position: absolute;
            top: 0;
            bottom: 15vw;
            left: 0;
            right: 0;
            margin: auto;
            width: 8%;
            height: 20%
      }

        #loader {

            border: 12px solid #f3f3f3;
            border-radius: 50%;
            border-top: 12px solid #444444;
            width: 70px;
            height: 70px;
            animation: spin 1s linear infinite;
        }
          
        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }
          
        .center {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
 
</style>