<template>
  <div>
    <v-header />

    <v-breadcrumbs title="404" />

    <section class="p-0">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="error-section">
              <h1>404</h1>
              <h2>Ups! Página no encontrada</h2>
              <nuxt-link :to="{ path: '/shop/fashion'}" class="btn btn-solid">Volver al inicio</nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </section>

    <v-footer />

  </div>
</template>
<script>

import Header from '../components/header/header'
import Footer from '../components/footer/footer'
import Breadcrumbs from '../components/widgets/breadcrumbs'

export default {
  components: {
    'v-header': Header,
    'v-footer': Footer,
    'v-breadcrumbs': Breadcrumbs
  }
}

</script>
