<template>
  <div>
    <Header />
    <Breadcrumbs title="Cart" />
    <section class="cart-section section-b-space">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <table class="table cart-table table-responsive-xs" v-if="cart.length">
              <thead>
                <tr class="table-head">
                  <th scope="col">producto</th>
                  <th scope="col">pecio</th>
                  <th scope="col">cantidad</th>
                  <th scope="col">total</th>
                  <th scope="col">acciones</th>
                </tr>
              </thead>
              <tbody v-for="(item,index) in cart" :key="index">
                <tr>
                  <td>
                    <nuxt-link :to="{ path: '/productos/'+item.slug}">
                      <img :src="item.picture.url" :alt="item.picture.alt" />
                    </nuxt-link>
                    <nuxt-link :to="{ path: '/productos/'+item.slug}">{{item.title}} </nuxt-link>
                    <div class="mobile-cart-content row">
                      <div class="col-12 col-xs-12 mt-2">
                        <div class="qty-box">
                          <div class="input-group">
                            <span class="input-group-prepend">
                              <button
                                type="button"
                                class="btn quantity-left-minus"
                                data-type="minus"
                                data-field
                                @click="decrement()"
                              >
                                <i class="ti-angle-left"></i>
                              </button>
                            </span>
                            <input
                              type="text"
                              name="quantity"
                              class="form-control input-number"
                              v-model="counter"
                            />
                            <span class="input-group-prepend">
                              <button
                                type="button"
                                class="btn quantity-right-plus"
                                data-type="plus"
                                data-field
                                @click="increment()"
                              >
                                <i class="ti-angle-right"></i>
                              </button>
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-xs-12 mt-2">
                        <h3 class="td-color" v-if="item.offer">
                          {{ (parseFloat(item.offer_price) / currency.rate) * item.quantity | currency(currency.symbol) }}
                        </h3>
                        <h3 v-else class="td-color">
                          {{ (parseFloat(item.price) / currency.rate) * item.quantity | currency(currency.symbol) }}
                        </h3>
                      </div>
                      <div class="col-12 col-xs-12 mt-2">
                        <h2 class="td-color">
                          <a href="#" class="icon">
                            <i class="ti-close"></i> Eliminar
                          </a>
                        </h2>
                      </div>
                    </div>
                  </td>
                  <td>
                    <h5 class="td-color" v-if="item.offer">
                      {{ (parseFloat(item.offer_price) / currency.rate) | currency(currency.symbol) }}
                    </h5>
                    <h5 v-else class="td-color">
                      {{ (parseFloat(item.price) / currency.rate) | currency(currency.symbol) }}
                    </h5>
                  </td>

                  <!-- Cantidad -->
                  <td>
                    <div class="qty-box">
                      <div class="input-group">
                        <span class="input-group-prepend">
                          <button
                            type="button"
                            class="btn quantity-left-minus"
                            data-type="minus"
                            data-field
                            @click="decrement(item)"
                          >
                            <i class="ti-angle-left"></i>
                          </button>
                        </span>
                        <input
                          type="text"
                          name="quantity"
                          class="form-control input-number"
                          :disabled="item.quantity > item.stock"
                          v-model="item.quantity"
                        />
                        <span class="input-group-prepend">
                          <button
                            type="button"
                            class="btn quantity-right-plus"
                            data-type="plus"
                            data-field
                            @click="increment(item)"
                          >
                            <i class="ti-angle-right"></i>
                          </button>
                        </span>
                      </div>
                    </div>
                  </td>

                  <td>
                    <h5 class="td-color" v-if="item.offer">
                      {{ (parseFloat(item.offer_price) / currency.rate) * item.quantity | currency(currency.symbol) }}
                    </h5>
                    <h5 v-else class="td-color">
                      {{ (parseFloat(item.price) / currency.rate) * item.quantity | currency(currency.symbol) }}
                    </h5>
                  </td>

                  <td>
                    <a class="icon" @click="removeCartItem(item)">
                      <i class="ti-close"></i>
                    </a>
                  </td>

                </tr>
              </tbody>
            </table>

            <table class="table cart-table table-responsive-md" v-if="cart.length">
              <tfoot>
                <tr>
                  <td class="text-uppercase">Total a pagar:</td>
                  <td>
                    <h3>{{ cartTotal / currency.rate | currency(currency.symbol) }}</h3>
                  </td>
                </tr>
              </tfoot>
            </table>

            <div class="col-sm-12 empty-cart-cls text-center" v-if="!cart.length">
              <img :src='"@/assets/images/icon-empty-cart.png"' class="img-fluid" alt="empty cart" />
              <h3 class="mt-3">
                <strong>El carrito está vacío</strong>
              </h3>
              <div class="col-12">
                <nuxt-link :to="{ path: '/'}" class="btn btn-solid">Seguir comprando</nuxt-link>
              </div>
            </div>
          </div>
        </div>

        <div class="row cart-buttons" v-if="cart.length">
          <div class="col-6">
            <nuxt-link :to="{ path: '/'}" :class="'btn btn-solid'">Seguir comprando</nuxt-link>
          </div>

          <div class="col-6" v-if="isAuth">
            <nuxt-link :to="{ path: '/checkout'}" :class="'btn btn-solid'">Finalizar compra</nuxt-link>
          </div>
          <div class="col-6" v-else>
            <nuxt-link :to="{ path: '/mi-cuenta/login'}" :class="'btn btn-solid'">Iniciar sesión</nuxt-link>
          </div>

        </div>

      </div>
    </section>
    <Footer />
  </div>
</template>
<script>
import { mapState , mapGetters } from 'vuex'
import Header from '../components/header/header'
import Footer from '../components/footer/footer'
import Breadcrumbs from '../components/widgets/breadcrumbs'
export default {
  data() {
    return {
      counter: 1
    }
  },
  components: {
    Header,
    Footer,
    Breadcrumbs
  },
  computed: {

    ...mapState({
      currency: state => state.currency.current
    }),

    ...mapGetters({
      cart: 'cart/cartItems',
      cartTotal: 'cart/cartTotalAmount',
      isAuth: 'auth/isAuth'
    })
  },
  methods: {

    removeCartItem: function (product) {
      this.$store.dispatch('cart/removeCartItem', product)
    },

    increment(product, qty = 1) {
      this.$store.dispatch('cart/updateCartQuantity', {
        product: product,
        qty: qty
      })
    },

    decrement(product, qty = -1) {
      this.$store.dispatch('cart/updateCartQuantity', {
        product: product,
        qty: qty
      })
    }
  }
}
</script>

<style lang="scss">
  .cart-section tfoot tr td:first-child {
    width: 70%;
    font-size: 15px;
    padding-right: 10px;
    text-transform: capitalize;
    font-weight: 700;
}
</style>
