<template>
  <div>
    <Header />
    <Breadcrumbs title="Checkout" />
    <section class="section-b-space">
      <div class="container-fluid">
        <div class="checkout-page">
          <div class="checkout-form">
            <ValidationObserver v-slot="{ invalid }">
            <form @submit.prevent="onSubmit">
              <div class="row">

                <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">

                  <!-- PASO 1 -->
                  <div class="accordion" role="tablist">
                    <b-card no-body class="mb-1 primary">
                      <b-card-header header-tag="header" class="p-3" role="tab">
                        <b-button block v-b-toggle="'paso-1'" variant="default" class="size-20 text-left pt-3" style="line-height: 25px;">
                          <i class="fa fa-map-marker color size-25  mr-2"></i>
                          <strong>Paso 1:</strong> Seleccione una dirección de envío
                           <span class="when-opened text-right mt-1" style="float: right;">
                              <i class="fa fa-chevron-down" ></i>
                          </span>
                          <span class="when-closed text-right mt-1" style="float: right;">
                              <i class="fa fa-chevron-right"></i>
                          </span>
                        </b-button>
                        <div class="mt-2 ml-4">
                          <span v-if="data.envio == 1 && data.address">
                            <h5>
                              {{ text.deliveryTitle }}
                            </h5>
                            <strong v-if="data.name">
                              {{ data.name }}
                            </strong>
                            <strong v-if="data.phone">
                               <i class="pl-2 pr-2">•</i> {{ data.phone }}
                            </strong>
                            <strong v-if="data.identification">
                               <i class="pl-2 pr-2">•</i> {{ data.identification }}
                            </strong>
                            <br>
                            {{ data.address }}
                          </span>

                          <span v-if="data.envio == 2 && data.address">
                            <h5>
                              {{ text.pickupTitle }}
                            </h5>
                            <strong v-if="data.name">
                              {{ data.name }}
                            </strong>
                            <strong v-if="data.phone">
                               <i class="pl-2 pr-2">•</i> {{ data.phone }}
                            </strong>
                            <strong v-if="data.identification">
                               <i class="pl-2 pr-2">•</i> {{ data.identification }}
                            </strong>
                            <br>
                            {{ data.address }}
                          </span>
                        </div>
                      </b-card-header>

                      <b-collapse id="paso-1" visible accordion="coll-paso-1" role="tabpanel">
                        <b-card-body>

                          <div class="row">

                            <!-- Selector de Delivery o Pick Up -->
                            <div class="col-md-12 p-0">
                              <b-form-group>
                                <b-form-radio-group
                                  id="option-envio"
                                  v-model="data.envio"
                                  :options="options"
                                  size="lg"
                                  name="option-envio"
                                  @change="data.address = null"
                                ></b-form-radio-group>
                              </b-form-group>
                            </div>

                            <!-- Direcciones -->
                            <div class="col-md-12 p-0" v-if="data.envio == 1">
                              <div class="accordion" role="tablist">
                                <b-card no-body class="mb-1" v-for="(item,index) in address" :key="index">
                                  <b-card-header header-tag="header" class="p-1" role="tab">
                                    <b-button block v-b-toggle="'accordion-'+index" variant="default">
                                      <b-form-radio
                                        size="lg"
                                        v-model="data.address_id"
                                        name="address"
                                        :value="item.id"
                                        class="size-18 address"
                                        @change="setAddress(item)"
                                        >
                                        {{ item.address.substring(0,50) + (item.address.length > 50 ? ' ...' : '') }}

                                      </b-form-radio>
                                      <span class="when-opened text-right mt-1" style="float: right;">
                                          <i class="fa fa-eye-slash" ></i>
                                      </span>
                                      <span class="when-closed text-right mt-1" style="float: right;">
                                          <i class="fa fa-eye"></i>
                                      </span>
                                    </b-button>

                                  </b-card-header>
                                  <b-collapse :id="'accordion-'+index" accordion="my-accordion" role="tabpanel">
                                    <b-card-body>
                                      <b-card-text class="size-16">
                                        <strong>Nombre:</strong> {{item.name}}<br>
                                        <strong>Identificación:</strong> {{item.identification}}<br>
                                        <strong>Teléfono:</strong>  {{item.phone}}<br>
                                        <strong>Dirección:</strong> {{item.address}} <br>
                                      </b-card-text>
                                    </b-card-body>
                                  </b-collapse>
                                </b-card>

                              </div>
                            </div>

                            <!-- Almacenes -->
                            <div class="col-md-12 p-0" v-if="data.envio == 2">
                              <div class="accordion" role="tablist">
                                <b-card no-body class="mb-1" v-for="(item,index) in stores" :key="index">
                                  <b-card-header header-tag="header" class="p-1" role="tab">
                                    <b-button block v-b-toggle="'accordion-'+index" variant="light">
                                      <b-form-radio
                                        size="lg"
                                        v-model="data.address_id"
                                        name="address"
                                        :value="item.id"
                                        class="size-18 address"
                                        @change="setAddress(item)"
                                        >
                                        {{ item.address.substring(0,50) + (item.address.length > 50 ? ' ...' : '') }}

                                      </b-form-radio>
                                      <span class="when-opened text-right mt-1" style="float: right;">
                                          <i class="fa fa-eye-slash" ></i>
                                      </span>
                                      <span class="when-closed text-right mt-1" style="float: right;">
                                          <i class="fa fa-eye"></i>
                                      </span>
                                    </b-button>

                                  </b-card-header>
                                  <b-collapse :id="'accordion-'+index" accordion="my-accordion" role="tabpanel">
                                    <b-card-body>
                                      <b-card-text class="size-16">
                                        <strong>Almacén:</strong> {{item.name}}<br>
                                        <strong>Teléfono:</strong>  {{item.phone}}<br>
                                        <strong>Dirección:</strong> {{item.address}} <br>
                                      </b-card-text>
                                    </b-card-body>
                                  </b-collapse>
                                </b-card>

                              </div>
                            </div>

                            <div class="col-md-6 mt-4 mb-2 text-left"  v-if="data.envio == 1">
                              <nuxt-link to="" class="btn-solid btn">
                                <i class="fa fa-plus"></i> Agregar dirección
                              </nuxt-link>
                            </div>

                            <div class="mt-4 mb-2 text-right" :class="data.envio == 1 ? 'col-md-6' : 'col-md-12'"  v-if="data.address != null">
                              <button class="btn-solid btn" v-b-toggle="'paso-2'">
                                Siguiente <i class="fa fa-angle-right"></i>
                              </button>
                            </div>

                          </div>
                        </b-card-body>
                      </b-collapse>
                    </b-card>

                  </div>

                  <!-- PASO 2 -->
                  <div class="accordion mt-4" role="tablist">
                    <b-card no-body class="mb-1 primary">
                      <b-card-header header-tag="header" class="p-3" role="tab">
                        <b-button block v-b-toggle="'paso-2'" variant="default" class="size-20 text-left pt-3" style="line-height: 25px;">
                          <i class="fa fa-file color size-25 mr-2"></i>
                          <strong>Paso 2:</strong> Datos de facturación
                            <span class="when-opened text-right mt-1" style="float: right;">
                            <i class="fa fa-chevron-down" ></i>
                          </span>
                          <span class="when-closed text-right mt-1" style="float: right;">
                              <i class="fa fa-chevron-right"></i>
                          </span>
                        </b-button>

                        <div class="mt-2 ml-4">
                          <span v-if="data.billding_name">
                            <strong v-if="data.billding_name">
                              {{ data.billding_name }}
                            </strong>
                            <strong v-if="data.billding_phone">
                              <i class="pl-2 pr-2">•</i>{{ data.billding_phone }}
                            </strong>
                            <strong v-if="data.billding_identification">
                              <i class="pl-2 pr-2">•</i>{{ data.billding_identification_type }}-{{ data.billding_identification }}
                            </strong>
                            <br>
                            <strong v-if="data.billding_address">
                              {{ data.billding_address }}
                            </strong>
                          </span>
                        </div>
                      </b-card-header>

                      <b-collapse id="paso-2" visible accordion="coll-paso-1" role="tabpanel">
                        <b-card-body>
                          <div class="row">
                            <div class="col-md-12" >

                              <form class="row">
                                <div class="col-md-5  mt-2">
                                  <label for="">Nombre Y Apellido</label>
                                  <input v-model="data.billding_name" type="text" name="billding_name" id="billding_name" class="form-control">
                                </div>
                                <!--<div class="col-md-1 mt-2 pr-0 pl-0">
                                  <label for="billding_identification_type">Tipo </label>
                                  <b-form-select v-model="data.billding_identification_type" :options="optionsIdentification" name="billding_identification_type" id="billding_identification_type"></b-form-select>
                                </div>-->
                                <div class="col-md-3 mt-2 pl-1">
                                  <label for="billding_identification">Identificación </label>
                                  <input v-model="data.billding_identification" type="text" name="billding_identification" id="billding_identification" class="form-control">
                                </div>
                                <div class="col-md-4 mt-2">
                                  <label for="billding_phone">Teléfono  </label>
                                  <input v-model="data.billding_phone" type="tel" name="billding_phone" id="billding_phone" class="form-control">
                                </div>
                                <div class="col-md-12 mt-2">
                                  <label for="billding_address">Dirección  </label>
                                  <textarea v-model="data.billding_address"
                                    name="billding_address" id="billding_address" class="form-control" rows="3"> </textarea>
                                </div>

                                <div class="col-md-12 mt-4 mb-2 text-right">
                                  <button
                                    type="button"
                                    class="btn-solid btn"
                                    v-b-toggle="'paso-3'"
                                    :disabled="billdingValidate == false">
                                    Siguiente <i class="fa fa-angle-right"></i>
                                  </button>
                                </div>

                              </form>


                            </div>
                          </div>
                        </b-card-body>
                      </b-collapse>
                    </b-card>
                  </div>

                  <!-- PASO 3 -->
                  <div class="accordion mt-4" role="tablist">
                    <b-card no-body class="mb-1 primary">
                      <b-card-header header-tag="header" class="p-3" role="tab">
                        <b-button block v-b-toggle="'paso-3'" variant="default" class="size-20 text-left pt-3" style="line-height: 25px;">
                          <i class="fa fa-credit-card color size-25 mr-2"></i>
                          <strong>Paso 3:</strong> Registra tu pago
                           <span class="when-opened text-right mt-1" style="float: right;">
                              <i class="fa fa-chevron-down" ></i>
                          </span>
                          <span class="when-closed text-right mt-1" style="float: right;">
                              <i class="fa fa-chevron-right"></i>
                          </span>
                        </b-button>

                        <div class="mt-2 ml-4" v-if="data.payment_type == 'zelle'">
                          <strong>Método de pago: </strong> Zelle<br>
                          <strong>Moneda: </strong> {{ usd.title }} <br>
                          <span v-if="data.note != null">
                            <strong>Titular de la cuenta:</strong> {{ data.note }} <br>
                          </span>
                        </div>

                        <div class="mt-2 ml-4" v-if="data.payment_type == 'efectivo'">
                          <strong>Método de pago: </strong> Efectivo<br>
                           <span v-if="data.currency">
                            <strong>Moneda: </strong> {{data.currency.title }} <br>
                          </span>
                          <span v-if="data.note != null">
                            <strong>Nota:</strong> {{ data.note }} <br>
                          </span>
                        </div>

                        <div class="mt-2 ml-4" v-if="data.payment_type == 'transferencia'">
                          <strong>Método de pago: </strong> Transferencia bancaria<br>
                          <span v-if="data.currency">
                            <strong>Moneda: </strong> {{ ves.title }} <br>
                          </span>
                          <span v-if="data.note != null">
                            <strong>Nro de referencia:</strong> {{ data.note }} <br>
                          </span>
                          <span v-if="data.payment_otherbank && data.payment_bank">
                            <strong>Realizada desde otro banco:</strong> ({{ data.payment_bank }}) {{ bancos.find( item => item.code == data.payment_bank)['name'] }} <br>
                          </span>
                        </div>

                        <div class="mt-2 ml-4" v-if="data.payment_type == 'pago-movil'">
                          <strong>Método de pago: </strong> Pago móvil interbancario<br>
                          <span v-if="data.currency">
                            <strong>Moneda: </strong> {{ ves.title }} <br>
                          </span>
                          <span v-if="data.note != null">
                            <strong>Nro de referencia:</strong> {{ data.note }} <br>
                          </span>
                        </div>

                        <div class="mt-2 ml-4" v-if="data.payment_type == 'paypal'">
                          <strong>Método de pago: </strong> Paypal<br>
                          <span v-if="data.currency">
                            <strong>Moneda: </strong> {{ usd.title }} <br>
                          </span>
                          <span v-if="data.note != null">
                            <strong>Correo del emisor:</strong> {{ data.note }} <br>
                          </span>
                        </div>
                      </b-card-header>

                      <b-collapse id="paso-3" visible accordion="coll-paso-1" role="tabpanel">
                        <b-card-body>
                          <div class="row">
                            <div class="col-6 col-sm-4 col-lg-2 m-0 mt-1 p-0">
                              <b-form-checkbox button button-variant="default" v-model="data.payment_type" class="p-0 m-1" value="zelle" @change="data.note = null">
                                <img :src="getImgUrl('metodos-pago/zelle.png')" class="img-fluid" alt="Zelle" title="Zelle" />
                              </b-form-checkbox>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-2 m-0 mt-1 p-0">
                              <b-form-checkbox button button-variant="default" v-model="data.payment_type" class="p-0 m-1" value="efectivo" @change="data.note = null">
                                <img :src="getImgUrl('metodos-pago/efectivo.png')" class="img-fluid" alt="Efectivo" title="Efectivo" />
                              </b-form-checkbox>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-2 m-0 mt-1 p-0">
                              <b-form-checkbox button button-variant="default" v-model="data.payment_type" class="p-0 m-1" value="transferencia" @change="data.note = null">
                                <img :src="getImgUrl('metodos-pago/transferencia.png')" class="img-fluid" alt="Transferencia" title="Transferencia bancaria nacional" />
                              </b-form-checkbox>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-2 m-0 mt-1 p-0">
                              <b-form-checkbox button button-variant="default" v-model="data.payment_type" class="p-0 m-1" value="pago-movil" @change="data.note = null">
                                <img :src="getImgUrl('metodos-pago/pago-movil.png')" class="img-fluid" alt="Pago Móvil" title="Pago Móvil" />
                              </b-form-checkbox>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-2 m-0 mt-1 p-0">
                              <b-form-checkbox button button-variant="default" v-model="data.payment_type" class="p-0 m-1" value="paypal" @change="data.note = null">
                                <img :src="getImgUrl('metodos-pago/paypal.png')" class="img-fluid" alt="PayPal" title="PayPal" />
                              </b-form-checkbox>
                            </div>
                          </div>

                          <div class="row" v-show="data.payment_type"><hr class="mt-4 mb-4"></div>

                          <!-- Zelle -->
                          <div class="row mt-4" v-show="data.payment_type == 'zelle'">
                            <div class="col-md-12">
                              <div class="row">
                                <div class="col-md-2 m-0 mt-1 p-0" v-for="(item,index) in zelle" :key="index">
                                  <b-form-checkbox
                                    button
                                    button-variant="light"
                                    v-model="data.payment_id"
                                    class="p-0 m-1"
                                    :value="item.id"
                                    @change="zelleDetail = item">
                                    <img v-if="item.file_id" :src="item.file.url" class="img-fluid" alt="Zelle" title="Zelle" />
                                  </b-form-checkbox>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-12 mt-2" v-if="zelleDetail">
                              Realiza tu pago a: <br>
                              <strong>Titular:</strong> {{zelleDetail.name}} <br>
                              <strong>Correo:</strong> {{zelleDetail.email}} <br>
                              <strong>Banco:</strong> {{zelleDetail.bank}} <br>
                              <p v-html="zelleDetail.note" class="mt-2"></p>

                              <div class="row">
                                <div class="col-md-8 mt-2">
                                  <label for="titular">Titular de la cuenta</label>
                                  <input type="text" name="titular" id="titular" v-model="data.note" class="form-control"/>
                                </div>
                                <div class="col-md-4 mt-2">
                                  <label for="monto">Monto {{ zelleDetail.badge ? zelleDetail.badge.symbol : '' }}</label>
                                  <input type="text" id="monto" class="form-control text-right" readonly :value="cartTotal / usd.rate | currency(usd.symbol)" />
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- Efectivo -->
                          <div class="row mt-4" v-show="data.payment_type == 'efectivo'">
                            <div class="col-md-6">
                              <b-form-group label="">
                                <b-form-radio-group
                                  id="btn-radios-efectivo-currency"
                                  v-model="data.currency_id"
                                  :options="optionsCurrencies"
                                  name="btn-radios-efectivo-currency"
                                  button-variant="outline-primary"
                                  buttons
                                  block
                                  @change="setPayment($event)"
                                ></b-form-radio-group>
                              </b-form-group>
                            </div>
                            <div class="col-md-6">
                              <div v-for="(item,index) in optionsCurrencies" :key="index" v-show="item.id == data.currency_id">
                                <label for="">Monto {{item.symbol}}</label>

                                <input
                                  v-if="item.id == 1"
                                  type="text"
                                  class="form-control text-right"
                                  readonly
                                  :value="cartTotal * item.rate | currency(item.symbol)" />

                                <input
                                  v-else
                                  type="text"
                                  class="form-control text-right"
                                  readonly
                                  :value="cartTotal / item.rate | currency(item.symbol)" />

                                <textarea name="note" id="note" rows="4" v-model="data.note" class="form-control mt-2" placeholder="Nota"></textarea>
                                <p v-html="item.note" class="mt-2"></p>
                              </div>

                            </div>
                          </div>

                          <!-- Transferencia -->
                          <div class="row mt-4" v-show="data.payment_type == 'transferencia'">

                            <div class="col-md-12">
                              <div class="row">
                                <div class="col-md-2 m-0 mt-1 p-0" v-for="(item,index) in transferencia" :key="index">
                                  <b-form-checkbox
                                    button
                                    button-variant="light"
                                    v-model="data.payment_id"
                                    class="p-0 m-1"
                                    :value="item.id"
                                    @change="setPayment(1);tranferenciaDetail = item">
                                    <img v-if="item.file_id" :src="item.file.url" class="img-fluid" alt="Transferencia" title="Transferencia" />
                                  </b-form-checkbox>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-12 mt-2" v-if="tranferenciaDetail">
                              Realiza tu pago a: <br>

                              <strong>{{tranferenciaDetail.name}} </strong> <br>
                              <strong>Banco:</strong> {{tranferenciaDetail.bank}} <br>
                              <strong>Nro de cuenta:</strong> {{tranferenciaDetail.count}} <br>
                              <strong>Tipo de cuenta:</strong> <span class="text-capitalize">{{tranferenciaDetail.account_type}}</span> <br>
                              <strong v-if="tranferenciaDetail.email">Correo:</strong> {{tranferenciaDetail.email}} <br>
                              <strong>RIF:</strong> {{tranferenciaDetail.dni}} <br>

                              <p v-html="tranferenciaDetail.note" class="mt-2"></p>

                              <div class="row">
                                <div class="col-md-8 mt-2">
                                  <label for="referencia">Nro de referencia</label>
                                  <input type="text" name="referencia" id="referencia" required v-model="data.note" class="form-control"/>
                                </div>
                                <div class="col-md-4 mt-2">
                                  <label for="monto">Monto {{ currency.symbol }}</label>
                                  <input type="text" id="monto" class="form-control text-right" readonly :value="cartTotal * currency.rate | currency(currency.symbol)" />
                                </div>
                                <div class="col-md-12 mt-2">
                                  <b-form-checkbox switch size="lg" v-model="data.payment_otherbank">Selecciona si la transferencia se hizo desde otro Banco.</b-form-checkbox>
                                  <label v-show="data.payment_otherbank" for="bank" class="mt-2">Especifique el banco</label>
                                  <b-form-select
                                    v-show="data.payment_otherbank"
                                    v-model="data.payment_bank"
                                    :options="bancos"
                                    value-field="code"
                                    text-field="name"
                                  ></b-form-select>
                                  <p v-show="data.payment_otherbank">
                                    Los pagos emitidos desde otro bancos distinto al receptor serán procesados una vez verificado el pago.
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- Pago Movil -->
                          <div class="row mt-4" v-show="data.payment_type == 'pago-movil'">

                            <div class="col-md-12">
                              <div class="row">
                                <div class="col-md-2 m-0 mt-1 p-0" v-for="(item,index) in pagoMovil" :key="index">
                                  <b-form-checkbox
                                    button
                                    button-variant="light"
                                    v-model="data.payment_id"
                                    class="p-0 m-1"
                                    :value="item.id"
                                    @change="tranferenciaDetail = item">
                                    <img v-if="item.file_id" :src="item.file.url" class="img-fluid" alt="Pago Móvil" title="Pago Móvil" />
                                  </b-form-checkbox>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-12 mt-2" v-if="tranferenciaDetail">
                              Realiza tu pago a: <br>

                              <strong>{{tranferenciaDetail.name}} </strong> <br>
                              <strong>Banco:</strong> {{tranferenciaDetail.bank}} <br>
                              <strong>Teléfono:</strong> {{tranferenciaDetail.phone}} <br>
                              <strong>RIF:</strong> {{tranferenciaDetail.dni}} <br>

                              <p v-html="tranferenciaDetail.note" class="mt-2"></p>

                              <div class="row">
                                <div class="col-md-8 mt-2">
                                  <label for="referencia">Nro de referencia</label>
                                  <input type="text" name="referencia" id="referencia" required v-model="data.note" class="form-control"/>
                                </div>
                                <div class="col-md-4 mt-2">
                                  <label for="monto">Monto {{ currency.symbol }}</label>
                                  <input type="text" id="monto" class="form-control text-right" readonly :value="cartTotal * currency.rate | currency(currency.symbol)" />
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- PayPal -->
                          <div class="row mt-4" v-show="data.payment_type == 'paypal'">
                            <div class="col-md-12">
                              <div class="row">
                                <div class="col-md-2 m-0 mt-1 p-0" v-for="(item,index) in paypal" :key="index">
                                  <b-form-checkbox
                                    button
                                    button-variant="light"
                                    v-model="data.payment_id"
                                    class="p-0 m-1"
                                    :value="item.id"
                                    @change="paypalDetail = item">
                                    <img v-if="item.file_id" :src="item.file.url" class="img-fluid" alt="Paypal" title="Paypal" />
                                  </b-form-checkbox>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-12 mt-2" v-if="paypalDetail">
                              Realiza tu pago a: <br>
                              <strong>{{paypalDetail.name}} </strong> <br>
                              <strong>Correo:</strong> {{paypalDetail.email}} <br>

                               <div class="row">
                                <div class="col-md-8 mt-2">
                                  <label for="referencia">Correo del emisor</label>
                                  <input type="text" name="referencia" id="referencia" required v-model="data.note" class="form-control"/>
                                </div>
                                <div class="col-md-4 mt-2">
                                  <label for="monto">Monto {{ usd.symbol }}</label>
                                  <input type="text" id="monto" class="form-control text-right" readonly :value="cartTotal / usd.rate | currency(usd.symbol)" />
                                </div>
                              </div>
                            </div>

                          </div>

                        </b-card-body>
                      </b-collapse>
                    </b-card>
                  </div>

                </div>

                <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                  <div class="checkout-details">
                    <div class="order-box">
                      <div class="title-box">
                        <div>
                          PRODUCTOS
                          <span class="text-right">TOTAL</span>
                        </div>
                      </div>
                      <ul class="qty"  v-if="cart.length">
                        <li v-for="(item,index) in cart" :key="index">

                          <b class="truncate">{{ item.quantity }} x {{ item.title | uppercase }}</b>

                          <span v-if="item.offer" class="text-right">
                            {{ (item.offer_price / currency.rate) * item.quantity | currency(currency.symbol) }}
                          </span>

                          <span v-else class="text-right">
                            {{ (item.price / currency.rate) * item.quantity | currency(currency.symbol) }}
                          </span>

                        </li>
                      </ul>

                      <ul class="sub-total">
                        <li>
                          Subtotal
                          <span class="count text-right" style="font-size: 16px;width: 65%;">{{ cartTotal / currency.rate | currency(currency.symbol) }}</span>
                        </li>
                        <li>
                          Tasa
                          <span class="count text-right" style="font-size: 16px;width: 65%;">{{ usd.rate | decimals | currency(currency.symbol) }}</span>
                        </li>
                        <li>
                          Total en {{ usd.code }}
                          <span class="count text-right" style="font-size: 16px;width: 65%;">{{ cartTotal / usd.rate | currency(usd.symbol) }}</span>
                        </li>
                      </ul>

                      <ul class="sub-total">
                        <li>
                          Total
                          <span class="count text-right" style="font-size: 20px;width: 65%;">{{ cartTotal / currency.rate | currency(currency.symbol) }}</span>
                        </li>
                      </ul>
                    </div>
                    <div class="payment-box">
                      <div class="upper-box">
                        <div class="payment-options">
                          <!--<ul>
                            <li>
                              <div class="radio-option">
                                <input
                                  type="radio"
                                  name="payment-group"
                                  id="payment-1"
                                  checked="checked"
                                  v-model="payment"
                                  :value="false"
                                />
                                <label for="payment-1">
                                  Stripe
                                  <span
                                    class="small-text"
                                  >Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</span>
                                </label>
                              </div>
                            </li>
                            <li>
                              <div class="radio-option paypal">
                                <input type="radio" :value="true" v-model="payment" name="payment-group" id="payment-3" />
                                <label for="payment-3">
                                  PayPal
                                  <span class="image">
                                    <img src="../assets/images/paypal.png" alt />
                                  </span>
                                </label>
                              </div>
                            </li>
                          </ul>-->
                        </div>
                      </div>
                      <div class="text-right">
                      <no-ssr>
                          <paypal-checkout
                            :amount=getamt()
                            currency="USD"
                            :client="paypal"
                            :env="environment"
                            :button-style="button_style"
                            v-if="payment"
                            v-on:payment-authorized="onPaymentComplete"
                            v-on:payment-cancelled="onCancelled()">
                          </paypal-checkout>
                        </no-ssr>
                        <button
                          type="submit"
                          @click="order()"
                          v-if="cart.length && !payment"
                          :disabled="invalid"
                          class="btn-solid btn text-center">Ordenar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            </ValidationObserver>
          </div>
        </div>
      </div>
    </section>
    <Footer />
  </div>
</template>
<script>

import { ValidationProvider, ValidationObserver } from 'vee-validate/dist/vee-validate.full.esm'
import { mapState, mapGetters, mapActions } from 'vuex'
import Header from '../components/header/header'
import Footer from '../components/footer/footer'
import Breadcrumbs from '../components/widgets/breadcrumbs'
import bankVenezuela from '../data/bankVenezuela.json'

export default {

  components: {
    Header,
    Footer,
    Breadcrumbs,
    ValidationProvider,
    ValidationObserver,
  },


  data() {
    return {

      data: {
        envio: false,
        address_id: null,
        address: null,
        phone: null,
        name: null,
        identification: null,
        note: null,

        billding_name: '',
        billding_identification: '',
        billding_identification_type: '',
        billding_address: '',
        billding_phone: '',
        currency_id: 1,
        currency: null,

        payment_id: null,
        payment_type: null,
        payment_name: null,
        payment_note: null,
        payment_bank: null,
        payment_otherbank: null,

        shipping_address: {
          name: '',
          identification: '',
          identification_type: '',
          address: '',
          phone: '',
        }

      },

      zelleDetail: null,
      tranferenciaDetail: null,
      paypalDetail:null,
      text: {
        deliveryTitle: 'Delivery',
        deliveryDescription: 'Seleccione esta opción si quieres que enviemos tu pedido con uno de nuestros Zoneros',

        pickupTitle: 'Pick Up / Retirar En Tienda',
        pickupDescription: 'Seleccione esta opción si quieres buscar tu pedido en una de nuestras Zonas de Pick Up'
      },

      options: [
          {
            html: `<h4 class="text-left">Delivery</h4>
              <strong class="text-left" style="font-size:15px;">
                Seleccione esta opción si quieres que enviemos tu pedido con uno de nuestros Zoneros
              </strong>`,
              value: 1 },
          {
            html: `<h4 class="text-left">Pick Up / Retirar En Tienda</h4>
              <strong class="text-left" style="font-size:15px;">
                Seleccione esta opción si quieres buscar tu pedido en una de nuestras Zonas de Pick Up
              </strong>`,
              value: 2 },
      ],

      optionsIdentification: [
        { value: null, text: '-' },
        { value: 'v', text: 'V' },
        { value: 'e', text: 'E' },
        { value: 'j', text: 'J' },
        { value: 'g', text: 'G' },
      ],


      user: {
        firstName: '',
        lastName: '',
        phone: '',
        email: '',
        address: '',
        city: '',
        state: '',
        pincode: ''
      },

      isLogin: false,

      paypalGateway: {
         sandbox: 'Your_Sendbox_Key'
      },

      payment: false,
      environment: 'sandbox',
      button_style: {
        label: 'checkout',
        size: 'medium', // small | medium | large | responsive
        shape: 'pill', // pill | rect
        color: 'blue' // gold | blue | silver | black
      },
      amtchar: '',

      bancos: bankVenezuela.data
    }
  },


  computed: {
    ...mapState({
      currency: state => state.currency.current,
      usd: state => state.currency.usd,
      ves: state => state.currency.ves,
    }),

    ...mapGetters({
      cart: 'cart/cartItems',
      cartTotal: 'cart/cartTotalAmount',
      address: 'address/data',
      billding: 'address/billding',
      stores: 'address/stores',
      payments: 'paymentsMethods/data',
      efectivo: 'paymentsMethods/efectivo',
      zelle: 'paymentsMethods/zelle',
      paypal: 'paymentsMethods/paypal',
      transferencia: 'paymentsMethods/transferencia',
      pagoMovil: 'paymentsMethods/pagoMovil',
      tdd: 'paymentsMethods/tdd',
      tdc: 'paymentsMethods/tdc',
      tddi: 'paymentsMethods/tddi',
      tdci: 'paymentsMethods/tdci',
      currenciesActives: 'currency/actives',
      contact: 'settings/contact',

      auth: 'auth/user',

    }),

    billdingValidate() {
      return this.data.billding_name != ''
        && this.data.billding_identification_type != ''
        && this.data.billding_identification != ''
        && this.data.billding_address != ''
        && this.data.billding_phone != ''
    },

    optionsCurrencies(){
      let actives = []
      this.currenciesActives.forEach(item => {
        actives.push({
          text: item.title,
          value: item.id,
          id: item.id,
          rate: item.rate,
          symbol: item.symbol,
          note: `Se aplicará redondeo en compras con decimales.
                  Coloca el monto del billete con el que pagarás.
                  IMPORTANTE ENVÍA LAS FOTOS AL
                  <a href="tel:+58${this.contact.contact_phone}">${this.contact.contact_phone}</a>
                  PARA PODER PROCESAR TU PAGO.`
        })
      })

      actives.filter(item => item.id == 1)[0].note = 'Escribe el monto con el que pagarás.'

      return actives
    }
  },

  created() {
    if (process.client) {
      this.isLogin = localStorage.getItem('userlogin')
    }

    this.options = [
      {
        html: `<h4 class="text-left">${this.text.deliveryTitle}</h4>
          <strong class="text-left" style="font-size:15px;">
            ${this.text.deliveryDescription}
          </strong>`,
          value: 1
      },
      {
        html: `<h4 class="text-left">${this.text.pickupTitle}</h4>
          <strong class="text-left" style="font-size:15px;">
            ${this.text.deliveryDescription}
          </strong>`,
          value: 2
      },
    ]

    this.data.currency = this.currency
    let self = this
    this.getAddressAll().then( response => {
      self.data.billding_name = self.billding.name;
      self.data.billding_identification = self.billding.identification;
      self.data.billding_address = self.billding.address;
      self.data.billding_phone = self.billding.phone;
      self.data.billding_identification_type = self.billding.identification_type;
    })
    this.getAllPaymentMethods()
  },

  methods: {

    ...mapActions({
      getAddressAll: 'address/all',
      getAllSettings: 'settings/all', // Información de contacto
      getAllPaymentMethods: 'paymentsMethods/all', // Información de contacto

      storeOrder: 'cart/store'
    }),

    getImgUrl(path) {
      return require('@/assets/images/' + path)
    },

    // Establece una cuenta Zelle en el paso 3
    setAccountZelle(account){
      this.zelleDetail = account
    },

    // Establece una dirección de envío en el paso 1
    setAddress(address){
      this.data.shipping_address.address = address.address
      this.data.shipping_address.name = address.name
      this.data.shipping_address.phone = address.phone
      this.data.shipping_address.identification = address.identification

    },

    // Establece una dirección de envío en el paso 1
    setPayment(currency_id){
      let _currency_id = this.data.currency_id
      this.data.currency = this.currenciesActives.filter( item => {
        return item.id == _currency_id
      })[0]
    },

    order() {

      this.data.order_details = this.cart;

      if( this.data.order_details.length < 1 ) {
        //this.notify('Debe agregar por lo menos un producto para crear la órden', 'error')
        alert('Debe agregar por lo menos un producto para crear la órden')
        return false;
      }

      if( !this.data.shipping_address ) {
        //this.notify('Debe seleccionar la dirección de envío de la órden', 'error')
        alert('Debe seleccionar la dirección de envío de la órden')
        return false;
      }

      if( !this.data.shipping_id ) {
        //this.notify('Debe seleccionar una zona de reparto', 'error')
        //alert('Debe seleccionar una zona de reparto')
        //return false;
      }

      if( !this.data.payment_method_id ) {
        //this.notify('Debe seleccionar un método de pago', 'error')
        alert('Debe seleccionar un método de pago')
        return false;
      }

      this.data.user_id = this.auth.id

      this.storeOrder(this.data)
      return 0
      if (this.isLogin) {

      } else {
        this.$router.replace('/page/account/login-firebase')
      }
    },

    payWithStripe() {
      const handler = (window).StripeCheckout.configure({
          key: 'PUBLISHBLE_KEY', // 'PUBLISHBLE_KEY'
        locale: 'auto',
        closed: function () {
          handler.close()
        },
        token: (token) => {
          this.$store.dispatch('products/createOrder', {
            product: this.cart,
            userDetail: this.user,
            token: token.id,
            amt: this.cartTotal
          })
          this.$router.push('/page/order-success')
        }
      })
      handler.open({
        name: 'Multikart ',
        description: 'Reach to your Dream',
        amount: this.cartTotal * 100
      })
    },
    getamt() {
      return this.cartTotal.toString()
    },
    onPaymentComplete: function (data) {
      this.$store.dispatch('products/createOrder', {
        product: this.cart,
        userDetail: this.user,
        token: data.orderID,
        amt: this.cartTotal
      })
      this.$router.push('/page/order-success')
    },
    onCancelled() {
      console.log('You cancelled a window')
    },
    onSubmit() {
      console.log('Form has been submitted!')
    }
  }
}
</script>

<style lang="scss">

.dark .accordion .btn, .dark .accordion .btn:hover {
  color: #f1f1f1;
}
.order-box .sub-total {
  margin-bottom: 15px;
    padding-bottom: 10px;
}
.order-box .sub-total li, .order-box .qty li {
  margin-bottom: 10px !important;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 270px;
  min-width: 60%;
  width: 65%;
  display: inline-block;
}
.card.primary {
  border: none;
  border-radius: 0rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  >.card-header {
    padding: 2rem 1.25rem;
    >h4 {
      text-transform: uppercase;
      margin: 15px 5px;
      text-align: left;
    }
  }

  .custom-radio.b-custom-control-lg, .input-group-lg .custom-radio {
    font-size: 1rem;
    line-height: 1.5;
    padding-left: 1.875rem;
  }


   .custom-radio.b-custom-control-lg.address {
    font-size: 1rem;
    line-height: 1.5;
    padding-left: 1.875rem;
    padding-top: 5px;
    width: 90%;
    display: inline-block;
  }
}

.collapsed .when-opened,
:not(.collapsed) .when-closed {
    display: none;
}

.not-collapsed .when-opened  {
    display: block;
}
.collapsed .when-closed  {
    display: block;
}

.custom-control {
  text-align: left;
}
#option-envio {
  margin: 20px 15px;
}
.custom-control.custom-control-inline {
  width: 50%;
  margin: 0;
}
.custom-control-label {
  margin-bottom: 2rem;
  h3 {
    margin: 0 !important;
  }
}

img {
  font-size: 13px !important;
}

.checkout-page .checkout-form textarea {
    width: 100%;
    padding: 0 22px;
    height: auto;
    border: 1px solid #dddddd;
}

#paso-3 .btn.btn-default {
  padding: 3px !important;
}

#paso-3 .btn.btn-default.active {
  background-color: #ad4544;
}

@media (max-width: 991px){
.checkout-page .checkout-form .checkout-details {
    margin-top: 0px;
}
}
</style>
