<template>
  <div>
    <Header />
    <Breadcrumbs title="Dashboard" />
    <section class="section-b-space">
      <div class="container">
        <div class="row">

          <b-card no-body v-bind:class="'dashboardtab'">
            <b-tabs pills card vertical v-model="tabIndex">

              <b-tab title="Información de cuenta" active>
                <b-card-text>
                  <div class="dashboard-right">
                    <div class="dashboard">
                      <div class="page-title">
                        <h2>PANEL DE CONTROL</h2>
                      </div>
                      <div class="welcome-msg">
                        <p>Hola, {{ user.full_name }}!</p>
                        <p>Desde el Panel de control de su cuenta, puede ver una instantánea de la actividad reciente de su cuenta y actualizar la información de su cuenta. Seleccione un enlace a continuación para ver o editar información.</p>
                      </div>
                      <div class="box-account box-info mt-2 pt-2">
                        <div class="box-head">
                          <h2>Información De La Cuenta</h2>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="box">
                              <div class="box-title">
                                <h3>Información De Contacto</h3>
                                <a href="javascript:void(0)" @click="editProfile">Editar información</a>
                              </div>
                              <div class="box-content">
                                <h6>Nombre: {{ user.full_name }}</h6>
                                <h6>Correo: {{ user.email }}</h6>
                                <h6>Identificación: {{ user.dni }}</h6>
                                <h6>
                                  <a href="javascript:void(0)">Cambiar contraseña</a>
                                </h6>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="box mt-2">
                            <div class="box-title">
                              <h3>Directorio</h3>
                              <a href="javascript:void(0)" @click="tabIndex = 1">Administrar direcciones</a>
                            </div>
                            <div class="row">

                              <div class="col-sm-12 mt-2 mb-4">
                                <ul class="direcciones">
                                  <li v-for="(item, i) in address.slice(0,2)" :key="i">
                                    <address>
                                      {{ item.address }}
                                    </address>
                                  </li>
                                  <li>
                                    <address><a href="javascript:void(0)" @click="tabIndex = 1">Ver todas...</a></address>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </b-card-text>
              </b-tab>

              <b-tab title="Mis direcciones">
                <b-card-text>
                  <div class="dashboard-right">
                    <div class="dashboard">
                      <div class="page-title">
                        <h2>Mis direcciones</h2>
                      </div>
                      <div class="welcome-msg">
                        <p>Hola, {{ user.full_name }}!</p>
                        <p>En esta sección podras administrar tus direcciones.</p>
                      </div>
                      <div class="box-account box-info">
                        <div class="box-head">
                          <h2>Listado de direcciones</h2>
                        </div>
                        <div>
                          <div class="box">
                            <div class="box-title">
                              <h3>Listado de direcciones</h3>
                              <a href="javascript:void(0)" @click="createAddress()">Agregar dirección</a>
                            </div>

                            <div class="row" v-if="address.length > 0">
                              <div class="col-sm-6" v-if="billding">
                                <h4>Direccion de FACTURACIÓN por defecto</h4>
                                <h5 class="mb-0 pb-0">{{ billding.name }}</h5>
                                <address>
                                  {{ billding.address }}
                                  <br />
                                  <a href="javascript:void(0)" @click="editAddress(billding)">Editar</a>
                                </address>
                              </div>
                              <div class="col-sm-6" v-if="billding"></div>

                              <div class="col-sm-12 mt-5">
                                <h4>Direccion de ENVÍO por defecto</h4>
                              </div>
                              <div class="col-sm-6 mb-3" v-for="(item, i) in shipping" :key="i">
                                <h5 class="mb-0 pb-0">{{ item.name }}</h5>
                                <address>
                                  {{ item.address}}
                                  <br />
                                  <a href="javascript:void(0)" @click="editAddress(item)" class="pt-2"><i class="fa fa-edit"></i> Editar</a>
                                  <a href="javascript:void(0)" @click="destroyAddress(item)" class="ml-3 pt-2"><i class="fa fa-trash"></i> Eliminar</a>
                                </address>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </b-card-text>
              </b-tab>

              <b-tab title="Mis pedidos">
                <b-card-text>
                  <div class="dashboard-right">
                    <div class="dashboard">
                      <div class="page-title">
                        <h2>Mis pedidos</h2>
                      </div>
                      <div class="welcome-msg">
                        <p>Hola, {{ user.full_name }}!</p>
                        <p>En esta sección podrás ver tus pedidos.</p>
                      </div>
                      <div class="box-account box-info">
                        <div>
                          <div class="box mt-4">
                            <div class="row">
                              <div class="col-sm-12">
                                <b-table :items="orders" :fields="headerOrders" striped     hover responsive="sm" foot-clone>
                                  <template #cell(id)="data">
                                    {{ data.item.id.toString().padStart(6,'0')  }}
                                  </template>
                                  <template #cell(payment_method)="data">
                                    {{ data.item.payment_method_id ? data.item.payment_method.name : ''  }}
                                  </template>
                                  <template #cell(status)="data">
                                    <b-badge v-if="data.item.status == 'issued'" class="px-2" variant="warning">Emitida</b-badge>
                                    <b-badge v-if="data.item.status == 'in_process'" class="px-2" variant="info">En proceso</b-badge>
                                    <b-badge v-if="data.item.status == 'confirmed'" class="px-2" variant="success">Confirmada</b-badge>
                                  </template>
                                  <template #cell(shipping_status)="data">
                                    <b-badge v-if="data.item.shipping_status == 'waiting_confirmation'" class="px-2">Esperando confirmación</b-badge>
                                    <b-badge v-if="data.item.shipping_status == 'confirmed'" class="px-2">Confirmada</b-badge>
                                    <b-badge v-if="data.item.shipping_status == 'delivered'" class="px-2">Enviada</b-badge>
                                    <b-badge v-if="data.item.shipping_status == 'on_the_way'"  class="px-2">En camino</b-badge>
                                  </template>
                                  <template #cell(total)="data">
                                    <b style="text-align: right"> {{ data.item.total |  currency('Bs. ')  }}</b>
                                  </template>
                                </b-table>

                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </b-card-text>
              </b-tab>

              <!--<b-tab title="Newsletter">
                <b-card-text>
                  <div class="dashboard-right">
                    <div class="dashboard">
                      <div class="page-title">
                        <h2>Newsletter</h2>
                      </div>
                      <div class="welcome-msg">
                        <p>Hello, MARK JECNO !</p>
                        <p>you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings.</p>
                        <p>Sed Ut Perspiciatis Unde Omnis Iste Natus Error Sit Voluptatem Accusantium Doloremque Laudantium</p>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.</p>
                      </div>
                    </div>
                  </div>
                </b-card-text>
              </b-tab>-->

              <b-tab title="Cambiar contraseña">
                <b-card-text>
                  <div class="dashboard-right">
                    <div class="dashboard">
                      <div class="page-title">
                        <h2>Cambiar contraseña</h2>
                      </div>
                      <div class="welcome-msg">
                        <p>Hello, {{ user.full_name }}!</p>
                        <p>you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings.</p>
                        <p>Sed Ut Perspiciatis Unde Omnis Iste Natus Error Sit Voluptatem Accusantium Doloremque Laudantium</p>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.</p>
                      </div>
                      <div class="box-account box-info">
                        <div class="box-head">
                          <h2>Account Information</h2>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="box">
                              <div class="box-title">
                                <h3>Contact Information</h3>
                                <a href="#">Edit</a>
                              </div>
                              <div class="box-content">
                                <h6>MARK JECNO</h6>
                                <h6>MARk-JECNO@gmail.com</h6>
                                <h6>
                                  <a href="#">Change Password</a>
                                </h6>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="box">
                              <div class="box-title">
                                <h3>Newsletters</h3>
                                <a href="#">Edit</a>
                              </div>
                              <div class="box-content">
                                <p>You are currently not subscribed to any newsletter.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </b-card-text>
              </b-tab>

              <!--<b-tab title="Log out">
                <b-card-text>
                  <div class="dashboard-right">
                    <div class="dashboard">
                      <div class="page-title">
                        <h2>Log Out</h2>
                      </div>
                      <div class="welcome-msg">
                        <p>Hello, MARK JECNO !</p>
                        <p>Log out From your Account Dashboard. Select a link below to view or edit information.</p>
                      </div>
                      <div class="box-account box-info">
                        <div class="box-head">
                          <h2>Account Information</h2>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="box">
                              <div class="box-title">
                                <h3>Contact Information</h3>
                                <a href="#">Edit</a>
                              </div>
                              <div class="box-content">
                                <h6>MARK JECNO</h6>
                                <h6>MARk-JECNO@gmail.com</h6>
                                <h6>
                                  <a href="#">Change Password</a>
                                </h6>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="box">
                              <div class="box-title">
                                <h3>Newsletters</h3>
                                <a href="#">Edit</a>
                              </div>
                              <div class="box-content">
                                <p>You are currently not subscribed to any newsletter.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="box">
                            <div class="box-title">
                              <h3>Address Book</h3>
                              <a href="#">Manage Addresses</a>
                            </div>
                            <div class="row">
                              <div class="col-sm-6">
                                <h6>Default Billing Address</h6>
                                <address>
                                  You have not set a default billing address.
                                  <br />
                                  <a href="#">Edit Address</a>
                                </address>
                              </div>
                              <div class="col-sm-6">
                                <h6>Default Shipping Address</h6>
                                <address>
                                  You have not set a default shipping address.
                                  <br />
                                  <a href="#">Edit Address</a>
                                </address>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </b-card-text>
              </b-tab>-->

            </b-tabs>
          </b-card>
        </div>
      </div>
    </section>

    <b-modal ref="modal-profile" v-model="modalProfile" size="lg" title="Mi perfil">
      <b-form ref="form-profile" @submit.prevent="storeProfile">
        <div class="row">
          <div class="col-sm-6">
            <b-form-group
              label="Nombres"
              label-for="nombres"
            >
              <b-form-input
                id="name"
                v-model="profile.first_name"
                type="text"
                required
              ></b-form-input>
            </b-form-group>
          </div>
          <div class="col-sm-6">
            <b-form-group
              label="Apellidos"
              label-for="last_name"
            >
              <b-form-input
                id="last_name"
                v-model="profile.last_name"
                type="text"
                required
              ></b-form-input>
            </b-form-group>
          </div>

          <div class="col-sm-1 mr-0 pr-0">
            <b-form-group
              label="Tipo"
              label-for="identification_type"
            >
              <b-form-select
                v-model="profile.identification_type"
                :options="identification_type"
              ></b-form-select>
            </b-form-group>
          </div>
          <div class="col-sm-3 ml-0 pl-0">
            <b-form-group
              label="Identificación"
              label-for="identification"
            >
              <b-form-input
                id="identification"
                v-model="profile.identification"
                type="number"
                required
              ></b-form-input>
            </b-form-group>
          </div>


          <div class="col-sm-4">
            <b-form-group
              label="Teléfono"
              label-for="phone"
            >
              <b-form-input
                id="phone"
                v-model="profile.phone"
                type="tel"
                required
                max-length="15"
              ></b-form-input>
            </b-form-group>
          </div>
          <div class="col-sm-4">
            <b-form-group
              label="Correo"
              label-for="email"
            >
              <b-form-input
                id="email"
                v-model="profile.email"
                type="email"
                required
              ></b-form-input>
            </b-form-group>
          </div>

          <div class="col-sm-4">
            <b-form-group
              label="País"
              label-for="country_id"
            >
              <b-form-select
                v-model="profile.country"
                :options="countries"
                value-field="id"
                text-field="name"
              ></b-form-select>
            </b-form-group>
          </div>
           <div class="col-sm-4">
            <b-form-group
              label="Estado"
              label-for="state_id"
            >
              <b-form-select
                v-model="profile.state"
                :options="states"
                value-field="id"
                text-field="name"
              ></b-form-select>
            </b-form-group>
          </div>
           <div class="col-sm-4">
            <b-form-group
              label="Ciudad"
              label-for="city_id"
            >
              <b-form-select
                v-model="profile.city"
                :options="cities"
                value-field="id"
                text-field="name"
              ></b-form-select>
            </b-form-group>
          </div>
        </div>
      </b-form>
      <template #modal-footer>
        <div class="w-100">
          <b-button
            variant="danger"
            size="sm"
            class="float-left"
            @click="modalProfile = false"
          >Cancelar</b-button>
          <b-button
            variant="primary"
            size="sm"
            class="float-right"
            @click="storeProfile"
          >Guardar</b-button>
        </div>
      </template>
    </b-modal>



    <b-modal ref="modal-address" size="lg" title="Direcciones">
      <b-form ref="form-address" @submit.prevent="store">
        <div class="row">
          <div class="col-sm-4">
            <b-form-group
              label="Nombres"
              label-for="nombres"
            >
              <b-form-input
                id="name"
                v-model="currentAddress.name"
                type="text"
                required
              ></b-form-input>
            </b-form-group>
          </div>
          <div class="col-sm-1 mr-0 pr-0">
            <b-form-group
              label="Tipo"
              label-for="identification_type"
            >
              <b-form-select
                v-model="currentAddress.identification_type"
                :options="identification_type"
              ></b-form-select>
            </b-form-group>
          </div>
          <div class="col-sm-3 ml-0 pl-0">
            <b-form-group
              label="Identificación"
              label-for="identification"
            >
              <b-form-input
                id="identification"
                v-model="currentAddress.identification"
                type="number"
                required
              ></b-form-input>
            </b-form-group>
          </div>
          <div class="col-sm-4">
            <b-form-group
              label="Teléfono"
              label-for="phone"
            >
              <b-form-input
                id="phone"
                v-model="currentAddress.phone"
                type="tel"
                required
                max-length="15"
              ></b-form-input>
            </b-form-group>
          </div>
          <div class="col-sm-12">
            <b-form-group
              label="Dirección"
              label-for="address"
            >
              <b-form-textarea
                id="address"
                v-model="currentAddress.address"
                required
                rows="2"
              ></b-form-textarea>
            </b-form-group>
          </div>
          <div class="col-sm-12">
            <b-form-checkbox v-model="currentAddress.billding" name="check-button" switch size="lg">
              Usar como dirección de facturación: <b>{{ currentAddress.billding == 1 ? 'Si' : 'No' }}</b>
            </b-form-checkbox>
          </div>
        </div>
      </b-form>
      <template #modal-footer>
        <div class="w-100">
          <b-button
            variant="danger"
            size="sm"
            class="float-left"
            @click="cancelEditAddress"
          >Cancelar</b-button>
          <b-button
            variant="primary"
            size="sm"
            class="float-right"
            @click="submitDormAddress"
          >Guardar</b-button>
        </div>
      </template>
    </b-modal>

    <Footer />
  </div>
</template>
<script>

import Header from '../../components/header/header'
import Footer from '../../components/footer/footer'
import Breadcrumbs from '../../components/widgets/breadcrumbs'
import { mapActions, mapGetters } from 'vuex'
import data from "@/data/shared";

const STATUS_READY = 0,
  STATUS_SAVING = 1,
  STATUS_SUCCESS = 2,
  STATUS_FAILED = 3,
  STATUS_CREATE = 4,
  STATUS_EDIT = 5,
  STATUS_VIEW = 6,
  STATUS_DELETING = 7;

export default {
  components: {
    Header,
    Footer,
    Breadcrumbs
  },

  data() {
    return {
      modalProfile: false,

      tabIndex: 0,
      currentAddress: {
        billding: null,
      },
      state: false,
      billding: [],
      shipping: [],
      profile: {
        city: null,
        country: null,
        state: null,
        email: "",
        first_name: "",
        last_name: "",
        gender: "masculino",
        identification: 'V',
        identification_type: "",
        phone: "",
      },

      headerOrders: [
        {
            key: 'id',
            sortable: true,
            label: 'Nro.',
        },
        {
            key: 'date',
            sortable: true,
            label: 'Fecha',
        },
        {
            key: 'payment_method',
            sortable: false,
            label: 'Método de pago',
        },
        {
            key: 'status',
            sortable: true,
            label: 'Estatus',
        },
        {
            key: 'shipping_status',
            sortable: true,
            label: 'Estatus de envío',
        },
        {
            key: 'total',
            sortable: true,
            label: 'Monto.',
            tdClass: 'text-right'
        },

      ]
    }
  },

  watch: {
    address: {
      deep: true,
      handler () {
        this.billding = this.address.find(i => i.billding == true || i.billding == 1)
        this.shipping = this.address.filter(i => i.billding == false || i.billding == 0)
      }
    }
  },

  computed: {
    ...mapGetters ({
      isAuth: 'auth/isAuth',
      user: 'auth/user',
      address: 'address/data',

      orders: 'cart/orders',

      countries: 'countries/data',
      _states: 'states/data',
      _cities: 'cities/data',
    }),

    states(){
      return this._states.filter(i => i.country_id == this.profile.country)
    },

    cities(){
      return this._cities.filter(i => i.state_id == this.profile.state)
    },

    identification_type(){
      return data.identification_type
    },

		isInitial() {
			return this.state === STATUS_READY;
		},
		isCreate() {
			return this.state === STATUS_CREATE;
		},
		isEdit() {
			return this.state === STATUS_EDIT;
		},
		isView() {
			return this.state === STATUS_VIEW;
		},
		isSaving() {
			return this.state === STATUS_SAVING;
		},
		isSuccess() {
			return this.state === STATUS_SUCCESS;
		},
		isFailed() {
			return this.state === STATUS_FAILED;
		},
	  isDeleting() {
			return this.state === STATUS_DELETING;
		},
  },

  created() {
    this._getCountries()
    this._getStates()
    this._getCities()
    this._getOrders()

    this.getAddress().then(() => {
      this.billding = this.address.find(i => i.billding == true || i.billding == 1)
      this.shipping = this.address.filter(i => i.billding == false || i.billding == 0)
    })
    this.state == STATUS_VIEW
  },

  methods: {
    ...mapActions({
      updateProfile: 'auth/updateProfile',

      getAddress: 'address/all',
      updateAddress: 'address/update',
      storeAddress: 'address/store',
      _destroyAddress: 'address/destroy',

      _getCountries: 'countries/all',
      _getCities: 'cities/all',
      _getStates: 'states/all',

      _getOrders: 'cart/allByUser',

    }),

    editProfile(){
      this.modalProfile = true
      this.profile = Object.assign({}, this.user)
    },


    storeProfile() {
      this.updateProfile(this.profile)
        .then(response => {
          this.$swal(response.message)
          this.modalProfile = false
        }) // storeRecord
        .catch(error => {
          this.catchStore(error)
        });
    },


    createAddress() {
      this.$refs['modal-address'].show()
      this.currentAddress = {
        user_id: this.user.id,
        name: '',
        identification: '',
        identification_type: '',
        phone: '',
        address: '',
        billding: false,
      }
      this.state = STATUS_CREATE
    },

    editAddress(item) {
      this.$refs['modal-address'].show()
      this.currentAddress = Object.assign({}, item)
      this.currentAddress.billding = item.billding ? true : false
      this.state = STATUS_EDIT
    },

    cancelEditAddress() {
      this.$refs['modal-address'].hide()
      this.state = STATUS_VIEW
    },

    submitDormAddress(e){
      e.preventDefault()
      //this.$refs['form-address'].submit()
      this.store()
    },

    /**
     * Crea/Actualiza un registro determinado
     *@param {Event} e Evento del submit
     */
		store(e)
    {
      // Almacena el valor previo del estado para regresar
      //  a el en caso de que se produza un error en la API
      var statePrev = this.state
      this.currentAddress.user_id = this.user.id

      // En caso de que se esté creando un registro
      if( this.state === STATUS_CREATE ) {

        this.state = STATUS_SAVING;

        this.storeAddress(this.currentAddress)
          .then(response => {
            this.$swal(response.message)
            this.$refs['modal-address'].hide()
          }) // storeRecord
          .catch(error => {
            this.catchStore(error)
            this.state = statePrev;
          });
      }
      // En caso de que se esté actualizando un registro
      else if( this.state === STATUS_EDIT ) {
        this.state = STATUS_SAVING;
        this.updateAddress(this.currentAddress)
          .then(response => {
            this.$swal(response.message)
            this.$refs['modal-address'].hide()
          }) // updateRecord
          .catch(error => {
            this.catchStore(error)
            this.state = statePrev;
          });
      }

		}, // store


    destroyAddress(item){

      var statePrev = this.state

      this.state = STATUS_DELETING;
      this.currentAddress.user_id = this.user.id

      this._destroyAddress(item.id)
        .then(response => {
          this.$swal(response.message)
          this.$refs['modal-address'].hide()
        }) // storeRecord
        .catch(error => {
          this.catchStore(error)
          this.state = statePrev;
        });

    },

    catchStore(error){
      if( error.status == 422 && error.data.errors) {
        const errors = error.data.errors
        for (const [field, error] of Object.entries(errors)) {
          //errors[key] = value
          if(Array.isArray(error)) error.map(item => {
            //this.notify(item, 'error');
            if( this.$refs[field] ) this.$refs[field].focus();
          } );
          //else this.notify(item, 'error');
        }
      }
      else {
        //this.notify(error.data.message, 'error');
      }
    },


  },

}
</script>

<style lang="scss">
.modal-content {
  background-color: #fff;
}
.dashboardtab ul.direcciones li:before {
    width: 30px;
    height: 20px;
    font-size: 15px;
    margin-top: 0px;
}
</style>
