<template>
  <div>
    <Header />
    <Breadcrumbs title="Olvidó la contraseña" />
    <section class="pwd-page section-b-space">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <!--<h2>{{title}}</h2>-->
            <h2>Olvidaste tu contraseña</h2>
            <form class="theme-form" @submit="checkForm" method="post">
              <div v-if="errors.length">
                <ul class="validation-error mb-3">
                  <li v-for="(error, index) in errors" :key="index">{{ error }}</li>
                </ul>
              </div>
              <div class="form-row">
                <div class="col-md-12">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    v-model="email"
                    placeholder="Introduzca su correo"
                    name="email"
                    required
                  />
                </div>
                <input type="submit" class="btn btn-solid" value="enviar" :disabled="disabled" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <Footer />
  </div>
</template>
<script>
import Header from '../../components/header/header'
import Footer from '../../components/footer/footer'
import Breadcrumbs from '../../components/widgets/breadcrumbs'
import { mapActions } from 'vuex'
export default {
  components: {
    Header,
    Footer,
    Breadcrumbs
  },
  data() {
    return {
      title: 'Forget Your Password',
      errors: [],
      email: null,
      disabled: false
    }
  },
  methods: {
    ...mapActions({
      forgot: 'auth/forgot',
    }),

    checkForm: function (e) {
      e.preventDefault();

      this.errors = []

      if (!this.email) {
        this.errors.push('El correo es obligatorio.')
      } else if (!this.validEmail(this.email)) {
        this.errors.push('El correo es inválido.')
      }

      //if (!this.errors.length) return true

      this.disabled = true

      this.forgot(this.email)
        .then(response => {
          this.disabled = false
          this.$router.push('/mi-cuenta/login').catch(() => true);
        })
        .catch(error => {
          this.disabled = false
        });


    },
    validEmail: function (email) {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(email)
    }
  }
}
</script>
