<template>
  <div>
    <Header />
    <Breadcrumbs title="Iniciar sesión" />
    <section class="login-page section-b-space">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h3>{{logintitle}}</h3>
            <div class="theme-card">
              <ValidationObserver v-slot="{ invalid }">
              <form class="theme-form" @submit.prevent="_login">
                <div class="form-group">
                  <label for="email">Correo</label>
                  <ValidationProvider rules="required|email" v-slot="{ errors }" name="email">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    v-model="email"
                    placeholder="Email"
                    name="email"
                  />
                        <span class="validate-error">{{ errors[0] }}</span>
                      </ValidationProvider>
                </div>
                <div class="form-group">
                  <label for="password">Contraseña</label>
                  <ValidationProvider rules="required" v-slot="{ errors }" name="password">
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    v-model="password"
                    placeholder="Ingresa tu contraseña"
                  />
                        <span class="validate-error">{{ errors[0] }}</span>
                      </ValidationProvider>
                </div>
                <button
                  type="submit"
                  class="btn btn-solid"
                  :disabled="invalid"
                >Iniciar sesión</button>
                <nuxt-link
                  :to="{ path: '/mi-cuenta/forget-password'}"
                  class="float-right"
                >¿Olvidó la contraseña?</nuxt-link>
              </form>
              </ValidationObserver>
            </div>
          </div>
          <div class="col-lg-6 right-login">
            <h3>{{registertitle}}</h3>
            <div class="theme-card authentication-right">
              <h6 class="title-font">CREA UNA CUENTA</h6>
              <p>Regístrese para obtener una cuenta gratuita en nuestra tienda. Registrarse es facil y rapido. Le permite ordenar en nuestra tienda. Para comenzar a comprar, haga clic en registrarse.</p>
              <nuxt-link
                  :to="{ path: '/mi-cuenta/registrate'}"
                  class="btn btn-solid"
                >Crea una cuenta</nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Footer />
  </div>
</template>
<script>
import { ValidationProvider, ValidationObserver } from 'vee-validate/dist/vee-validate.full.esm'
import Header from '../../components/header/header'
import Footer from '../../components/footer/footer'
import Breadcrumbs from '../../components/widgets/breadcrumbs'
import { mapActions } from 'vuex'

export default {
  components: {
    Header,
    Footer,
    Breadcrumbs,
    ValidationProvider,
    ValidationObserver
  },

  data() {
    return {
      logintitle: 'INICIAR SESIÓN',
      registertitle: 'NUEVO EN STEAK MARKET NAUTILUS',
      email: '',
      password: ''
    }
  },

  methods: {
    ...mapActions({
      login: 'auth/login'
    }),

    _login(e){
      e.preventDefault();

      const credential = {
        email: this.email,
        password: this.password,
        remember: this.remember,
      }

      this.login(credential)
        .then(response => {
          if( response.status == 'success' ) {
            setTimeout(() => this.$router.push('/mi-cuenta/dashboard').catch(() => true), 100)
          } else {
            this.$swal('Combinación de usuario y contraseña incorrecta')
          }
        })
        .catch(error => {
          this.$swal('Combinación de usuario y contraseña incorrecta')
        });
    },

  }
}
</script>
