<template>
  <div>
    <Header />
    <Breadcrumbs title="Registrar" />
    <section class="register-page section-b-space">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3>{{title}}</h3>
            <div class="theme-card">
              <ValidationObserver v-slot="{ invalid }">
              <form class="theme-form" @submit.prevent="onSubmit">
                <div class="form-row">
                  <div class="col-md-6">
                    <label for="Nombre">Nombre</label>
                    <ValidationProvider rules="required" v-slot="{ errors }" name="Nombre">
                    <input
                      type="text"
                      class="form-control"
                      id="first_name"
                      v-model="fname"
                      placeholder="Nombre"
                      name="first_name"
                    />
                        <span class="validate-error">{{ errors[0] }}</span>
                      </ValidationProvider>
                  </div>
                  <div class="col-md-6">
                    <label for="lname">Apellido</label>
                    <ValidationProvider rules="required" v-slot="{ errors }" name="Apellido">
                    <input
                      type="text"
                      class="form-control"
                      id="last_name"
                      v-model="lname"
                      placeholder="Apellido"
                      name="last_name"
                    />
                        <span class="validate-error">{{ errors[0] }}</span>
                      </ValidationProvider>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6">
                    <label for="email">Email</label>
                    <ValidationProvider rules="required|email" v-slot="{ errors }" name="Email">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    v-model="email"
                    placeholder="Email"
                    name="email"
                  />
                        <span class="validate-error">{{ errors[0] }}</span>
                      </ValidationProvider>
                  </div>
                  <div class="col-md-6">
                    <label for="password">Password</label>
                    <ValidationProvider rules="required" v-slot="{ errors }" name="password">
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      v-model="password"
                      placeholder="Enter your password"
                      name="password"
                    />
                        <span class="validate-error">{{ errors[0] }}</span>
                      </ValidationProvider>
                  </div>
                  <button
                  type="submit"
                  class="btn btn-solid mt-2"
                  :disabled="invalid"
                >Crear cuenta</button>
                </div>
              </form>
              </ValidationObserver>
            </div>
          </div>
        </div>
      </div>
    </section>
    <Footer />
  </div>
</template>
<script>
import es from 'vee-validate/dist/locale/es.json';
import { ValidationProvider, ValidationObserver, localize } from 'vee-validate/dist/vee-validate.full.esm'
localize('es', es);
import Header from '../../components/header/header'
import Footer from '../../components/footer/footer'
import Breadcrumbs from '../../components/widgets/breadcrumbs'


export default {
  components: {
    Header,
    Footer,
    Breadcrumbs,
    ValidationProvider,
    ValidationObserver
  },
  data() {
    return {
      title: 'Crear cuenta',
      fname: null,
      lname: null,
      email: null,
      password: null
    }
  },
  methods: {
    onSubmit() {
      console.log('Form has been submitted!')
    }
  }
}
</script>
